extends menu
block title
  title!=title
block resto
  //boton para abrir filtros
  .col-md-2(style='text-align:left')
      input#btnfil.btn.btn-success.btn-small(type='button' value='Filtros' onCLick='opendivfilter()')
  //modal info 
  #modalmoreinfo.modal.fade
    .modal-dialog
      .modal-content
        .modal-header.headerModal
          button.close(type='button', data-dismiss='modal', aria-label='Close')
            span(aria-hidden='true') ×
          h4 Info 
            span.glyphicon.glyphicon-info-sign
        #modal-body.modal-body
          p
            | Establecer el número de docentes Tiempo Completo y Completo Ocasional 
            | con relación a la cantidad de Estudiantes matriculados en la Universidad de Nariño.
  //modal de filtros
  #divfilter.modal.fade.bd-example-modal-lg
    .modal-dialog.modal-lg
      .modal-content
        .modal-header.headerModal
          button.close(type='button', data-dismiss='modal', aria-label='Close')
            span(aria-hidden='true') ×
          h4#modal-title.modal-title Filtros
        .modal-body
          form#frmfilter(method='POST' action='consultaB')
            br           
            //.col-md-2 
              label(for='lstanho1') Años De:
            //.col-md-3
              select#lstanho1.form-control
          
            //.col-md-3
              label(for='lstanho2') a
            //.col-md-3
              select#lstanho2.form-control
            //.col-md-1
            .col-md-5
              label(for='lstdep')
                |Departamento:              
              select#lstdep.form-control(name='lstdep' onchange="Load_Year_List()")          
            .col-md-4                        
                label(for='lstanho1') Años De:                         
                select#lstanho1.form-control
            .col-md-3            
              label(for='lstanho2') a            
              select#lstanho2.form-control
            br
            br
            br
            br
            input(type='submit' value='Filtrar' class='btn btn-success' )        
  .col-md-8
    h3 
      span#more.glyphicon.glyphicon-question-sign(onclick='openinfo()')
      | Panorama General Estudiantes por Docente Tiempo Completo y Completo Ocasional de:
    h3#departamento
    br
  .col-md-2
  .col-md-12
    .col-md-5
      #divgraph2
      .col-md-3
      .col-md-6
        select#graph1.form-control(style="background-color:#898585; color:#F2EEEE")         
          option(selected='', value='1') Seleccione un tipo de gráfica
          optgroup(label='Columnas')
            option(value='1') 2D
            option(value='2') 3D
          optgroup(label='Barras')
            option(value='5') 2D
            option(value='6') 3D
          optgroup(label='Tendencia')
            option(value='3') Línea
            option(value='4') Area
      .col-md.3
    .col-md-3
      #divtable
        h6#meta
        table.table.table-hover.table-bordered.table-responsed(border='1')
          thead 
            tr
              th.th Año
              th.th Razón
              th.th.est Estado
          tbody#tableres
    .col-md-4
      #divgraph3
      h6 Indicador Actual
  .col-md-12
    .col-md-6
      table.table.table-hover.table-bordered.table-responsed
        thead
          tr
            th.th#tablefirstot
            #anho
        tbody
          tr
            label(for='nrofirstest')
            td#nfirstest
          tr
            label(for='nrofirstdoctc')  
            td#nfirstdoctc
          tr
            label(for='nrofirstdococ')  
            td#nfirstdococ
          //tr(style!=rols)
            td#upddoctc(colspan='2')
    .col-md-6
      table.table.table-hover.table-bordered.table-responsed
        thead
          tr
            th.th#tablelastot
        tbody
          tr
            #sem2
            #year2
            label(for='nrolastest')  
            td#nlastest
            //td#flaglastest
          tr
            label(for='nrofirstdoctc')  
            td#nlastdoctc
          tr
            label(for='nrofirstdococ')  
            td#nlastdococ
            //td#flaglastdoctc
          //tr(style!=rols)
            td#updest(colspan='2')
  .col-md-12
    h3#lblper
    .col-md-6
      #divgraph1
      .col-md-3
      .col-md-6
        select#graph3.form-control(style="background-color:#898585; color:#F2EEEE") 
          option(selected='', value='1') Seleccione un tipo de gráfica
          optgroup(label='Columnas')
            option(value='1') 2D
            option(value='2') 3D
          optgroup(label='Barras')
            option(value='4') 2D
            option(value='5') 3D
          optgroup(label='Tendencia')
            option(value='3') Línea
      .col-md-3
    .col-md-6
      #divgraph5
        #divper1
        #divper2
  #myModal.modal.fade
      .modal-dialog
        .modal-content
          .modal-header.headerModal
            button.close(type='button', data-dismiss='modal', aria-label='Close')
              span(aria-hidden='true') ×
            h4#modal-title.modal-title Error De Filtros
          #modal-body.modal-body
            p#messageError 
          .modal-footer
            button.btn.btn-success(type='button', onclick='hidenmodal()') Aceptar
  #Modalupdate.modal.fade(role='dialog')
      .modal-dialog
        .modal-content
          .modal-header.headerModal
            button.close(type='button', data-dismiss='modal', aria-label='Close')
              span(aria-hidden='true') ×
            h4#modal-title.modal-title Confirmación
          #modal-body.modal-body
            p#error 
          .modal-footer
            button.btn.btn-success(type='button', data-dismiss='modal') Cerrar
  //campo oculto para manterne le json del contenido
  input(id='txtjson' type="hidden")
  //modal para los infomes 
  #modalinfo.modal.fade.bd-example-modal-lg
    #modalinfobody.modal-content
      #modal-bodyinfo.modal-body.table-responsive
        input(id='txtindser' type="hidden" value='5')
        button.close(type='button', data-dismiss='modal', aria-label='Close')
          span(aria-hidden='true') ×
        span(style='text-align:left')
          input#btnsave.btn.btn-danger( type ='button' value='Guardar' onclick='saveReport()' style='visibility:hidden')
        input#btnpdf.btn.btn-info(type ='button' value='PDF' onclick='getPDF()')
        input#btnedit.btn.btn-warning(type ='button' value='Editar' style!=rols onclick='editRepor()')
        br
        label#lblupdreport(style='color:GREEN')
        table#tabind.table.table-condensed.table-striped.table-hover.table-bordered.table-responsed(border='1')
          tr
            td(colspan='2')
              h5(style='text-align:center') DATOS DEL INDICADOR
          tr
            td(style='font-size: 14px;width: 15%;text-align: left;') 1. PROCESO:
            td 
              input#atrinfo1.form-control.atrinfo(type='text' readonly)
          tr
            td(style='font-size: 14px;width: 15%;text-align: left;') 2. LÍDER:
            td
              input#atrinfo2.form-control.atrinfo(type='text'  readonly) 
          tr
            td(style='font-size: 14px;width: 15%;text-align: left;') 3. OBJETIVO DEL PROCESO:
            td
              textarea#atrinfo3.form-control.atrinfo(cols='40', rows='2' readonly)
          tr
            td(style='font-size: 14px;width: 15%;text-align: left;') 4. NOMBRE DEL INDICADOR:
            td 
              input#atrinfo4.form-control.atrinfo(type='text'  readonly) 
          tr
            td(style='font-size: 14px;width: 15%;text-align: left;') 5. ATRIBUTO A MEDIR:
            td
              input#atrinfo5.form-control.atrinfo(type='text'  readonly) 
          tr
            td(style='font-size: 14px;width: 15%;text-align: left;') 6. OBJETIVO DE CALIDAD AL CUAL CONTRIBUYE:
            td
              textarea#atrinfo6.form-control.atrinfo(cols='40', rows='2' readonly)
          tr
            td(style='font-size: 14px;width: 15%;text-align: left;') 7. TIPO DE INDICADOR:
            td
              input#atrinfo7.form-control.atrinfo(type='text'  readonly)  
          tr
            td(style='font-size: 14px;width: 15%;text-align: left;') 8. FRECUENCIA:
            td 
              input#atrinfo8.form-control.atrinfo(type='text'  readonly)  
          tr
            td(style='font-size: 14px;width: 15%;text-align: left;') 9. PERIODO DE CÁLCULO:
            td
               input#atrinfo9.form-control.atrinfo(type='text'  readonly)  
          tr
            td(style='font-size: 14px;width: 15%;text-align: left;') 10. TENDENCIA ESPERADA:
            td 
              input#atrinfo10.form-control.atrinfo(type='text'  readonly)  
          tr
            td(style='font-size: 14px;width: 15%;text-align: left;') 11. META
            td
              input#atrinfo11.form-control.atrinfo(type='text'  readonly)  
          tr
            td(style='font-size: 14px;width: 15%;text-align: left;') 12. OBJETIVO DEL INDICADOR:
            td
              textarea#atrinfo12.form-control.atrinfo(cols='40', rows='2' readonly)
          tr
            td(style='font-size: 14px;width: 15%;text-align: left;') 13. RANGO Y FORMA DE INTERPRETACIÓN:
            td
              .col-md-5
                table
                  tbody#datBo
                    tr
                      td#list                                              
                        select#atrinfo18.form-control                          
                      td
                        input#atrinfo19.form-control(type='number',required="required")
                      td  Muy Adecuado
                    tr
                      td#list2
                        select#atrinfo20.form-control
                      td
                        input#atrinfo21.form-control(type='number',required="required")
                      td  Adecuado
                    tr
                      td#list3
                        select#atrinfo22.form-control
                      td
                        input#atrinfo23.form-control(type='number',required="required")
                      td  Inadecuado
              .col-md-7                
              
          tr
            td(style='font-size: 14px;width: 15%;text-align: left;') 14. FÓRMULA:
            td
              textarea#atrinfo13.form-control.atrinfo(cols='40', rows='2' readonly)
          tr
            td(style='font-size: 14px;width: 15%;text-align: left;') 15. MANERA QUE PODÍA SER GRAFICADO:
            td
              input#atrinfo14.form-control.atrinfo(type='text'  readonly)  
          tr
            td(style='font-size: 14px;width: 15%;text-align: left;') 16. PUNTO DE REGISTRO:
            td
              input#atrinfo15.form-control.atrinfo(type='text'  readonly)  
          tr
            td(style='font-size: 14px;width: 15%;text-align: left;') 17. RESPONSABLE DEL CÁLCULO
            td
              input#atrinfo16.form-control.atrinfo(type='text'  readonly)  
          tr
            td(style='font-size: 14px;width: 15%;text-align: left;') 18. INSTRUCTIVO:
            td
              input#atrinfo17.form-control.atrinfo(type='text' readonly)
        br
        table#tabindres.table.table-condensed.table-striped.table-hover.table-bordered.table-responsed(border='1')
          tr
            td(colspan='2')
              h5(style='text-align:center') RESULTADOS Y EVOLUCIÓN DEL INDICADOR
          tr
            td(style='font-size: 14px;width: 15%;text-align: left;') 19. FECHA DE CALCULO:
            td 
              label#fecha
          tr
            td(style='font-size: 14px;width: 15%;text-align: left;') 20. RESULTADO DEL INDICADOR:
            td 
              #divtab(style='width: 100%; height: 40%;')
          tr
            td(style='font-size: 14px;width: 15%;text-align: left;') 21. CALIFICACIÓN:
            td
              //- textarea#txtcal.form-control.textareaEdit(cols='40', rows='3')
              div#txtcal.summernote
          tr
            td(style='font-size: 14px;width: 15%;text-align: left;') 22. LECTURA DE LA EVOLUCIÓN DEL INDICADOR:
            td
              //- textarea#txtlec.form-control.textareaEdit(cols='40', rows='6')
              div#txtlec.summernote
          tr
            td(style='font-size: 14px;width: 15%;text-align: left;') 23. EVOLUCIÓN GRÁFICA:
            td 
              #divg1
              #divg2
block scriptpage
  script( src='/javascripts/estudiantes_por_docente.js')
