extends menu
block title
  title!=title
block resto
  .col-md-2(style='text-align:left') 
    input#btnfil.btn.btn-success.btn-small(type='button' value='Filtros')
    br
  //modal para sacar mensajes     
  #myModal.modal.fade
    .modal-dialog
      .modal-content
        .modal-header.headerModal
          button.close(type='button', data-dismiss='modal', aria-label='Close')
            span(aria-hidden='true') ×
          h4#modal-title.modal-title Error De Filtros
        #modal-body.modal-body
          p#messageError
        .modal-footer
          button.btn.btn-success(type='button', onclick='hidenmodal()') Aceptar 
  //modal para los filtros 
  #divfilter.modal.fade.bd-example-modal-lg(tabindex='-1', role='dialog', aria-labelledby='myLargeModalLabel', aria-hidden='true')
    .modal-dialog.modal-lg
      .modal-content
        .modal-header.headerModal
          button.close(type='button', data-dismiss='modal', aria-label='Close')
            span(aria-hidden='true') ×
          h4#modal-title.modal-title Filtros
        .modal-body
          form#frmDepartamento.form-horizontal(action="formacion" method="POST")
            br
            .col-md-5
              label
                 |Departamento:               
              select#lst_dep.form-control(name='lst_dep' onchange='Load_filter_year()')                             
            .col-md-4              
              label
                 |Año: 
              select#lst_anio.form-control(name='lst_anio' onchange='Load_filter_period()')                                                         
            .col-md-3                
              label
                |Periodo:              
              select#lst_per.form-control
            br   
            br
            br  
            br           
            input(type='submit' value='Filtrar' class='btn btn-success')
  .col-md-8    
    h3#titulo2
    br
  .col-md-2
  .col-md-12
    .col-md-6    
      #divtable2
        table.table.hover.tablestyle
          thead
            tr(align='center')
              th.th(style='text-align:center;') Año
              th.th(style='text-align:center;') Cantidad Docentes Tiempo Completo                          
          tbody#datBody2!= datos2
    .col-md-6        
      #divgraph2      
      .col-md-3
      .col-md-6
        select#graph2.form-control(style="background-color:#898585; color:#F2EEEE") 
          option(selected='', value='1') Seleccione un tipo de gráfica
          optgroup(label='Columnas')
            option(value='1') 2D
            option(value='2') 3D
          optgroup(label='Barras')
            option(value='4') 2D
            option(value='5') 3D
          optgroup(label='Tendencia')
            option(value='3') Línea
      .col-md-3  
      
  .col-md-12
    h3#titulo       
  .col-md-12
    .col-md-6
      #divtable
        table.table.hover.tablestyle
          thead
            tr(align='center')
              th.th(style='text-align:center;') Formación
              th.th(style='text-align:center;') Docentes Tiempo Completo             
          tbody#datBody!= datos 
    .col-md-6
      #divgraph1
      .col-md-3
      .col-md-6
        select#graph1.form-control(style="background-color:#898585; color:#F2EEEE") 
            option(selected='', value='1') Seleccione un tipo de gráfica
            optgroup(label='Columnas')
              option(value='1') 2D
              option(value='2') 3D
            optgroup(label='Barras')
              option(value='5') 2D
              option(value='6') 3D
            optgroup(label='Tendencia')
              option(value='3') Línea
              option(value='4') Area  
            optgroup(label='Pastel')
              option(value='7') 2D
              option(value='8') 3D 
      .col-md-3         
  //campo oculto para manterne le json del contenido
  input(id='txtjson' type="hidden")
block scriptpage
  script( src='/javascripts/formacion_docentes_dep.js')  
