extends menu
block title
  title!=title
block resto
  //Contiene la pantalla de bienvenida a la aplicacion 
  .row
    #divwelcom.col-md-4.col-md-offset-4
      img#escudo.drap(src='/images/udenar_logo.svg' alt='logo udenar')
      h1.title Bienvenid@ 
      h3.title Universidad de Nariño 
block scriptpage
