extends menu
block title
  title!=title
block scriptpage
block resto
  //Contiene la pantalla de bienvenida a la aplicacion 
  #divwelcom.col-md-12
    h1 Bienvenid@ 
    h2 Al sistema de Indicadores Academicos
    br
    br
    img#escudo.drap(src='/images/escudo.png')
    h3 Universidad de Nariño 
