doctype html
html
  head
    block title
    //Permite caracteres especiales como la Ñ y los asentos 
    meta(charset='UTF-8') 
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no')
    
    //CSS generales del proyecto
    //style.css es archivo con estilos propios del proyecto
    //los css bootstrap pertenecen a estas librerias de ayuda grafica y control
    //export.css referencia a la posibilidad de descargar en diferentes formatos 
    //las graficas de los indicadores EJ: JPG, PDF, etc. 
    //- link(rel='stylesheet', href='/stylesheets/bootstrap.min.css' )
    link(href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css", rel="stylesheet", integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u", crossorigin="anonymous")
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.4/css/bootstrap-datepicker.min.css' )
    //css para controlar el submenu del navbar
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/bootstrap-submenu/2.0.4/css/bootstrap-submenu.min.css' )
    <link href="http://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.3/summernote.css" rel="stylesheet">
    link(rel='stylesheet', href='/stylesheets/style.css' ) 
    block css
  body.body
    //este bloque es el que contiene todo lo que pertenece a las diferentes paginas 
    block content
    //JS generales del proyecto
    script(src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous")
    //- script( type='text/javascript',src='/javascripts/bootstrap.min.js')
    script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js", integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa", crossorigin="anonymous")
    script( type='text/javascript',src='https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.4/js/bootstrap-datepicker.min.js')
    script( type='text/javascript',src='https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.4/locales/bootstrap-datepicker.es.min.js')
    //- script(src='https://cloud.tinymce.com/stable/tinymce.min.js?apiKey=ofbto3aqxophi7148zhf4pkdo0840uu9c44c9ycc5bjs4h65')
    //- script.
    //-   tinymce.init({ selector:'textarea.textareaEdit' });
    <!-- include summernote css/js-->
    <script src="http://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.3/summernote.js"></script>
    //En este bloque se permite colocar los scripts que no son comunes a todo el proyecto y solo 
    //pertenecen a una pagina en especifico  
    block scripts
