extends layout
block title
block css
  //css del boton de export de las graficas
  link(rel='stylesheet', href="/javascripts/amcharts/plugins/export/export.css")
  link(rel='stylesheet', href="https://cdn.datatables.net/1.10.15/css/dataTables.bootstrap.min.css")
  link(href='http://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.4/summernote.css', rel='stylesheet')

block content
  //modallogin
  #modallogin.modal.fade.bd-example-modal-lg
    .modal-dialog
      .modal-content
        .modal-header.headerModal
          button.close(type='button', data-dismiss='modal', aria-label='Close')
            span(aria-hidden='false') ×
          h3#modal-title.modal-title.title Iniciar Sesión.
        #modal-body.modal-body
          form#frmlogin.form-horizontal(action="consultaUsuario" method="POST")
            .form-group
              br
              //aqui se resive la respuesta si existe el error de no autorización de ingreso 
              p#respuesta
              label.col-sm-3.control-label(for='txtuser') Usuario: 
              .col-sm-9
                input#txtuser.form-control(type='text', placeholder='Usuario' required)
            .form-group
              label.col-sm-3.control-label(for='txtpass') Contraseña: 
              .col-sm-9
                input#txtpass.form-control(type='password', placeholder='Contraseña' required)
            #divbtn
              button#btnlogin.btn.btn-info(type='submit') Ingresar   
          a(href='#' style="color:green;" onclick='openmodalrestart()') ¿Olvidó su Contraseña?.
  
  //modal para recuperar contraseña
  #modalrestart.modal.fade.bd-example-modal-lg
    .modal-dialog
      .modal-content
        .modal-header.headerModal
          button.close(type='button', onclick='openmodallogin()', aria-label='Close')
            span(aria-hidden='true') ×
          h3#modal-title.modal-title.title Recuperar Contraseña.
        #modal-body.modal-body
          form#frmrecover.form-horizontal(action="validarestart" method="POST")
            .form-group
              br
              //aqui se resive la respuesta si existe el error de no autorización de ingreso 
              p#resrecover
              label.col-sm-3.control-label(for='txtuser') Usuario: 
              .col-sm-9
                input#txtreuser.form-control(type='text', placeholder='Usuario' required)
            #divbtn
              button#btnrest.btn.btn-info(type='submit') Enviar   
  
  //modaluploadperiodo
  #modaluploadperiodo.modal.fade.bd-example-modal-lg
    .modal-dialog
      .modal-content
        .modal-header.headerModal
          button.close(type='button', data-dismiss='modal', aria-label='Close')
            span(aria-hidden='true') ×
          h4#modal-title.modal-title Carga Archivo Deserción por Periodo.
        #modal-body.modal-body
          form(class='form-inline' ref='uploadformperiodo' id='uploadformperiodo' action='/uploadfileperiodo', method='POST', enctype='multipart/form-data')
            .form-group
              input.file(type='file', name='archivo', id='filesperiodo')
            input(type='submit', value='Subir' class='btn btn-primary')
          br
          div#mesage(style='color:red;')
            span
            p
          a.acol(href='download/Formato\ datos\ Deserción\ Periodo.csv' class='vinculoFormato') Descargar Formato
  
  //modaluploadcohorte
  #modaluploadcohorte.modal.fade.bd-example-modal-lg
    .modal-dialog
      .modal-content
        .modal-header.headerModal
          button.close(type='button', data-dismiss='modal', aria-label='Close')
            span(aria-hidden='true') ×
          h4#modal-title.modal-title Carga Archivo Deserción por Cohorte.
        #modal-body.modal-body
          form(class='form-inline' ref='uploadformcohorte' id='uploadformcohorte' action='/uploadfilecohorte', method='POST', enctype='multipart/form-data')
            .form-group
              input.file(type='file', name='archivo', id='filescohorte')
            input(type='submit', value='Subir' class='btn btn-primary')
          br
          div#mesage(style='color:red;')
            span
            p
          a.acol(href='download/Formato\ datos\ Deserción\ Cohorte.csv' class='vinculoFormato') Descargar Formato
  
  //modaluploadsatisfacion
  #modaluploadsatisfaccion.modal.fade.bd-example-modal-lg
    .modal-dialog
      .modal-content
        .modal-header.headerModal
          button.close(type='button', data-dismiss='modal', aria-label='Close')
            span(aria-hidden='true') ×
          h4#modal-title.modal-title Carga Archivo Nivel de Satisfacción.
        #modal-body.modal-body
          form(class='form-inline' ref='uploadformsatisfaccion' id='uploadformsatisfaccion' action='/uploadfilesatisfaccion', method='POST', enctype='multipart/form-data')
            .form-group
              input.file(type='file', name='archivo', id='filesatisfaccion')
            input(type='submit', value='Subir' class='btn btn-primary')
          br
          div#mesage
            span.red
            p.red
          a.acol(href='download/Formato\ datos\ Nivel\ de\ Satisfacción.csv' class='vinculoFormato') Descargar Formato
  
  //modaluploadformacion y relacion docentes
  #modaluploadFormacion.modal.fade.bd-example-modal-lg
    .modal-dialog
      .modal-content
        .modal-header.headerModal
          button.close(type='button', data-dismiss='modal', aria-label='Close')
            span(aria-hidden='true') ×
          h4#modal-title.modal-title Carga Archivo Nivel de Formacion Docentes.
        #modal-body.modal-body
          form(class='form-inline' ref='uploadformacion' id='uploadformacion' action='/uploadfileformacion', method='POST', enctype='multipart/form-data')
            .form-group
              input.file(type='file', name='archivo', id='fileformacion')
            input(type='submit', value='Subir' class='btn btn-primary')
          br
          div#mesage(style='color:red;')
            span
            p
          a.acol(href='download/Formato\ datos\ Formacion\ Docentes.csv' class='vinculoFormato') Descargar Formato

  //modaluploadestudiantes y relacion estudiantes
  #modaluploadEstudiantes.modal.fade.bd-example-modal-lg
    .modal-dialog
      .modal-content
        .modal-header.headerModal
          button.close(type='button', data-dismiss='modal', aria-label='Close')
            span(aria-hidden='true') ×
          h4#modal-title.modal-title Carga Archivo Estudiantes por Departamento.
        #modal-body.modal-body
          form(class='form-inline' ref='uploadestudiantes' id='uploadestudiantes' action='/uploadfilestudiantes', method='POST', enctype='multipart/form-data')
            .form-group
              input.file(type='file', name='archivo', id='filestudiantes')
            input(type='submit', value='Subir' class='btn btn-primary')
          br
          div#mesage(style='color:red;')
            span
            p
          a.acol(href='download/Formato\ datos\ Estudiantes\ Departamento.csv' class='vinculoFormato') Descargar Formato
  
  //modal acerca de
  #modalabout.modal.fade.bd-example-modal-lg
    .modal-dialog.modal-lg
      .modal-content
        .modal-header.headerModal
          button.close(type='button', aria-label='Close', data-dismiss='modal')
            span(aria-hidden='true') ×
          h3#modal-title.modal-title Acerca de... 
            span.glyphicon.glyphicon-info-sign(aria-hidden='true')
        #modal-body.modal-body.modalBackground
          .row.modal1
            div           
              h3 Equipo de Desarrollo              
              .col-lg-4
                  //img.img-circle(src='/images/2.jpg', alt='Generic placeholder image', style='width: 140px; height: 140px;')
                  h4 Juan Gabriel Bastidas Delgado
                  a(style='color:black',href='mailto:juanbasdel@udenar.edu.co') juanbasdel@udenar.edu.co
              .col-lg-4
                  //img.img-circle(src='/images/1.jpg', alt='Generic placeholder image', style='width: 140px; height: 140px;')
                  h4 Oscar Algemiro Erazo Carlosama
                  a(style='color:black',href='mailto:oscare2193@hotmail.com') oscare2193@hotmail.com               
              .col-lg-4
                  //img.img-circle(src='/images/3.png', alt='Generic placeholder image', style='width: 140px; height: 140px;')
                  h4 Lucio Stephen Molina Martínez
                  a(style='color:black',href='mailto:1stephenmm@udenar.edu.co') 1stephenmm@udenar.edu.co                             
              .col-lg-12
                hr(style='color:black;')
                h3 Director de Trabajo de grado
              .col-lg-3
              .col-lg-6
                  //img.img-circle(src='/images/4.jpg', alt='Generic placeholder image', style='width: 140px; height: 140px;')
                  h4 Phd. Ricardo Timarán Pereira
                  a(style='color:black',href='mailto:siritimar@gmail.com') siritimar@gmail.com
              .col-lg-3
            
            .col-md-12
              hr
              ul
              col-md-4
                a(title='logo udenar', href='http://www2.udenar.edu.co' target='_blank')
                  img(src='/images/udenar_logo.svg', alt='logo udenar', style='width: 15%; height: 30%;')

              col-md-4
                a(title='logo grias', href='http://grias.udenar.edu.co' target='_blank')
                  img(src='/images/GRIAS.png', alt='logo grias', style='width: 40%; height: 30%;')                
              col-md-4
                a(title='logo acreditacion', href='http://acreditacion.udenar.edu.co/' target='_blank')
                  img(src='/images/acreditacion.png', alt='logo acreditacion', style='width: 15%; height: 30%;')                
            .col-md-12
              hr
              ul
                col-md-3
                a(title='Ministerio de Educación', href='http://www.mineducacion.gov.co/' target='_blank')
                  img(src='/images/MEN.png', alt='logo MEN', style='width: 15%; height: 30%;')
                col-md-3
                a(title='Node.js®', href='http://www.nodejs.org/' target='_blank')
                  img(src='/images/nodejs.png', alt='logo NodeJS', style='width: 15%; height: 30%;')
                col-md-3
                a(title='amCharts', href='https://www.amcharts.com/' target='_blank')
                  img(src='/images/amcharts1.png', alt='logo amcharts', style='width: 15%; height: 30%;')
                col-md-3
                a(title='jsreport', href='https://jsreport.net/' target='_blank')
                  img(src='/images/jsreport.PNG', alt='logo jsreport', style='width: 15%; height: 30%;')
              hr
              p © 2017 Kamachix. Derechos Reservados.
  
  //contiene el head y el menu con los nombres de los indicadores 
  
  //head del aplicativo 
  .row
    #cabezera.col-md-12
      .col-md-12.col-lg-12
        img(src='images/logo.svg' alt='logo' style='width:20%; height:10%;')         
  //barra de menu
  .row
    nav#menu.navbar.navbar-inverse.col-md-12.col-lg-12(role="navigation")
     .container-fluid.col-md-12.col-lg-12
       .navbar-header
         button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#bs-example-navbar-collapse-1', aria-expanded='false')
           span.sr-only Toggle navigation
           span.icon-bar
           span.icon-bar
           span.icon-bar
         a.navbar-brand(href='/').active Inicio
           span.glyphicon.glyphicon-home(aria-hidden='true')
       #bs-example-navbar-collapse-1.collapse.navbar-collapse
         ul.nav.navbar-nav
           li.dropdown
             a.dropdown-toggle(style!=arch, href='#', data-toggle='dropdown', role='button', aria-haspopup='true', aria-expanded='false', data-submenu='')
               | Archivo 
               span.caret
             ul.dropdown-menu
               li.dropdown-submenu
                 a.dropdown-toggle(style!=rols, href='#', data-toggle='dropdown', role='button', aria-haspopup='true', aria-expanded='false')
                   | Carga y Actualización de Datos  
                 ul.dropdown-menu
                   li
                     a(href='#' onclick='openmodaluploadsatisfaccion()') 
                       | Nivel de Satisfacción.
                   li.divider
                   li.dropdown-submenu
                     a.dropdown-toggle(href='#', data-toggle='dropdown', role='button', aria-haspopup='true', aria-expanded='false')
                       | Datos Deserción 
                     ul.dropdown-menu
                       li
                         a(href='#' onclick='openmodaluploadcohorte()') 
                           | Deserción Cohorte.
                       li.divider
                       li
                         a(href='#' onclick='openmodaluploadperiodo()') 
                           | Deserción Periodo.
                   li.divider
                   li
                     a(href='#' onclick='openmodaluploadFormacion()') 
                       | Nivel de Formación Docentes.                         
                   li.divider
                   li
                     a(href='#' onclick='openmodaluploadEstudiantes()') 
                       | Estudiantes por departamento. 
               li
                 a(href='#' onclick='openmodalreport()' style!=rep)
                   | Generar Reporte
           li.dropdown
             a.dropdown-toggle(href='#', data-toggle='dropdown', role='button', aria-haspopup='true', aria-expanded='false', data-submenu='')
               | Indicadores Académicos 
               span.caret
             ul.dropdown-menu
              li.dropdown-submenu
                a.dropdown-toggle(href='#', data-toggle='dropdown', role='button', aria-haspopup='true', aria-expanded='false')
                  | Deserción Académica
                ul.dropdown-menu
                  li
                    a(href='cohorte') 
                      | Deserción por Cohorte
                  li.divider
                  li
                    a(href='periodo') 
                      | Deserción por Periodo
              li.divider
              li.dropdown-submenu
                a.dropdown-toggle(href='#', data-toggle='dropdown', role='button', aria-haspopup='true', aria-expanded='false')
                  | Nivel de Formación de Docentes Tiempo Completo
                ul.dropdown-menu
                  li
                    a(href='formacion')
                      | KPI Formación Docentes
                  li.divider
                  li
                    a(href='formacion_departamento') 
                      | Formación Docentes por Departamento
              li.divider
              li
                a(href='satisfaccion')
                  | Nivel de Satisfacción del Proceso de Formación Académica
              li.divider
              li.dropdown-submenu
                a.dropdown-toggle(href='#', data-toggle='dropdown', role='button', aria-haspopup='true', aria-expanded='false')
                  | Programas Acreditados en Alta Calidad
                ul.dropdown-menu
                  li
                    a(href='acreditacion')
                      | KPI Programas Acreditados
                  li.divider
                  li
                    a(href='planesmejoramiento' style!=plan) 
                      | Seguimiento a Programas Acreditados
              li.divider
              li
                a(href='estudiantesDocente')
                  | Relación de todo el Personal Docente con respecto al Número de Estudiantes de Pregrado
              li.divider
              li
                a(href='relacion_docentes')
                  | Relación de todo el personal Docente Tiempo Completo con respecto a los Hora Cátedra
           li.dropdown            
            a.dropdown-toggle(href='#', data-toggle='dropdown', role='button', aria-haspopup='true', aria-expanded='false', data-submenu='')  
              |Ayuda          
              span.glyphicon.glyphicon-question-sign(aria-hidden='true')
            ul.dropdown-menu
              li
                a(href='tutorial')
                  | Guías de uso
              li.divider
              li
                a(href='#' onclick='openabout()')
                  | Acerca De Nosotros...
         p.navbar-text.navbar-right
           a.logout(href!=refe)!=textmsg
         p.navbar-text.navbar-right
           a#user.user(href="#")!=user

  //bloque que contiene el contenido de cada pagina especifica
  block resto
block scripts
    
  //scripts que se usan despues de login
  
  //script para crear el submenu en el navbar
  script( src='https://cdnjs.cloudflare.com/ajax/libs/bootstrap-submenu/2.0.4/js/bootstrap-submenu.min.js', defer='')
    
  //script de las graficas
  //script principal de la libreria de graficas
  script(src="/javascripts/amcharts/amcharts.js") 
  
  //script para activar el export de las graficas 
  script( src="/javascripts/amcharts/plugins/export/export.min.js")
    
  //scripts de los diferentes tipos de graficas
  script(src="/javascripts/amcharts/serial.js")
  script(src="/javascripts/amcharts/pie.js")
  script(src="/javascripts/amcharts/gauge.js")
    
  //script del tema visual de las graficas
  script(src="/javascripts/amcharts/themes/light.js")
    
  //script que tienes todas las funciones de graficar
  script(type='text/javascript', src='/javascripts/Graphs.js')
    
  //script para pasas grafica a img para infomes
  script( type='text/javascript', src='/javascripts/rgbcolor.js')
  script( type='text/javascript', src='/javascripts/StackBlur.js')
  script( type='text/javascript', src='/javascripts/canvg.min.js')
    
  //script para validar y cargar archivos al server
  script( type='text/javascript', src='/javascripts/files.js')
    
  //script de formacion Docentes
  //- script( src='/javascripts/update_formacion_docentes.js')
  script(src='http://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.4/summernote.js')
  script(src='/javascripts/summernote-es-ES.js')
  //script de conexion para sacar reportes del server
  script( type='text/javascript', src='/javascripts/jsreport.min.js')
  
  //script general para controlar action a nivel global
  script( type='text/javascript', src='/javascripts/menu.js')

  //script del login
  script( src='/javascripts/usuarios_inicio.js')
  //bloque para colocar los script propios de cada Indicador
  block scriptpage

  
