extends layout
block title
block css
  //css del boton de export de las graficas
  link(rel='stylesheet', href="/javascripts/amcharts/plugins/export/export.css")
block content
  //modallogin
  #modallogin.modal.fade.bd-example-modal-lg
    .modal-dialog
      .modal-content
        .modal-header
          button.close(type='button', data-dismiss='modal', aria-label='Close')
            span(aria-hidden='false') ×
          h3#modal-title.modal-title.title Iniciar Sesión.
        #modal-body.modal-body
          form#frmlogin.form-horizontal(action="consultaUsuario" method="POST")
            .form-group
              br
              //aqui se resive la respuesta si existe el error de no autorización de ingreso 
              p#respuesta
              label.col-sm-3.control-label(for='txtuser') Usuario: 
              .col-sm-9
                input#txtuser.form-control(type='text', placeholder='Usuario' required)
            .form-group
              label.col-sm-3.control-label(for='txtpass') Contraseña: 
              .col-sm-9
                input#txtpass.form-control(type='password', placeholder='Contraseña' required)
            #divbtn
              button#btnlogin.btn.btn-info(type='submit') Ingresar   
          a(href='#' class='vinculoFormato' onclick='openmodalrestart()') Olvido la Contraseña.
  
  //modal para recuperar contraseña
  #modalrestart.modal.fade.bd-example-modal-lg
    .modal-dialog
      .modal-content
        .modal-header
          button.close(type='button', onclick='openmodallogin()', aria-label='Close')
            span(aria-hidden='true') ×
          h3#modal-title.modal-title.title Recuperar Contraseña.
        #modal-body.modal-body
          form#frmrecover.form-horizontal(action="validarestart" method="POST")
            .form-group
              br
              //aqui se resive la respuesta si existe el error de no autorización de ingreso 
              p#resrecover
              label.col-sm-3.control-label(for='txtuser') Usuario: 
              .col-sm-9
                input#txtreuser.form-control(type='text', placeholder='Usuario' required)
            #divbtn
              button#btnrest.btn.btn-info(type='submit') Enviar   
  
  //modaluploadperiodo
  #modaluploadperiodo.modal.fade.bd-example-modal-lg
    .modal-dialog
      .modal-content
        .modal-header
          button.close(type='button', data-dismiss='modal', aria-label='Close')
            span(aria-hidden='true') ×
          h4#modal-title.modal-title Carga Archivo Deserción por Periodo.
        #modal-body.modal-body
          form(class='form-inline' ref='uploadformperiodo' id='uploadformperiodo' action='/uploadfileperiodo', method='POST', enctype='multipart/form-data')
            .form-group
              input.file(type='file', name='archivo', id='filesperiodo')
            input(type='submit', value='Subir' class='btn btn-primary')
          br
          div#mesage(style='color:red;')
            span
            p
          a(href='download/Formato\ datos\ Deserción\ Periodo.csv' class='vinculoFormato') Descargar Formato
  
  //modaluploadcohorte
  #modaluploadcohorte.modal.fade.bd-example-modal-lg
    .modal-dialog
      .modal-content
        .modal-header
          button.close(type='button', data-dismiss='modal', aria-label='Close')
            span(aria-hidden='true') ×
          h4#modal-title.modal-title Carga Archivo Deserción por Cohorte.
        #modal-body.modal-body
          form(class='form-inline' ref='uploadformcohorte' id='uploadformcohorte' action='/uploadfilecohorte', method='POST', enctype='multipart/form-data')
            .form-group
              input.file(type='file', name='archivo', id='filescohorte')
            input(type='submit', value='Subir' class='btn btn-primary')
          br
          div#mesage(style='color:red;')
            span
            p
          a(href='download/Formato\ datos\ Deserción\ Cohorte.csv' class='vinculoFormato') Descargar Formato
  
  //modaluploadsatisfacion
  #modaluploadsatisfaccion.modal.fade.bd-example-modal-lg
    .modal-dialog
      .modal-content
        .modal-header
          button.close(type='button', data-dismiss='modal', aria-label='Close')
            span(aria-hidden='true') ×
          h4#modal-title.modal-title Carga Archivo Nivel de Satisfacción.
        #modal-body.modal-body
          form(class='form-inline' ref='uploadformsatisfaccion' id='uploadformsatisfaccion' action='/uploadfilesatisfaccion', method='POST', enctype='multipart/form-data')
            .form-group
              input.file(type='file', name='archivo', id='filesatisfaccion')
            input(type='submit', value='Subir' class='btn btn-primary')
          br
          div#mesage(style='color:red;')
            span
            p
          a(href='download/Formato\ datos\ Nivel\ de\ Satisfacción.csv' class='vinculoFormato') Descargar Formato
  
  //modaluploadformacion y relacion docentes
  #modaluploadFormacion.modal.fade.bd-example-modal-lg
    .modal-dialog
      .modal-content
        .modal-header
          button.close(type='button', data-dismiss='modal', aria-label='Close')
            span(aria-hidden='true') ×
          h4#modal-title.modal-title Carga Archivo Nivel de Formacion Docentes.
        #modal-body.modal-body
          form(class='form-inline' ref='uploadformacion' id='uploadformacion' action='/uploadfileformacion', method='POST', enctype='multipart/form-data')
            .form-group
              input.file(type='file', name='archivo', id='fileformacion')
            input(type='submit', value='Subir' class='btn btn-primary')
          br
          div#mesage(style='color:red;')
            span
            p
          a(href='download/Formato\ datos\ Formacion\ Docentes.xls' class='vinculoFormato') Descargar Formato
  
  //contiene el head y el menu con los nombres de los indicadores 
  
  //head del aplicativo 
  .row
    #cabezera.col-md-12
      .col-md-12.col-lg-12
        img(src='images/logo.svg' alt='logo' style='width:32%; height:10%;')         
  //barra de menu
  .row
    nav#menu.navbar.navbar-inverse.col-md-12.col-lg-12(role="navigation")
     .container-fluid.col-md-12.col-lg-12
       .navbar-header
         button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#bs-example-navbar-collapse-1', aria-expanded='false')
           span.sr-only Toggle navigation
           span.icon-bar
           span.icon-bar
           span.icon-bar
         a.navbar-brand(href='/').active Inicio
           span.glyphicon.glyphicon-home(aria-hidden='true')
       #bs-example-navbar-collapse-1.collapse.navbar-collapse
         ul.nav.navbar-nav
           li.dropdown
             a.dropdown-toggle(style!=arch, href='#', data-toggle='dropdown', role='button', aria-haspopup='true', aria-expanded='false', data-submenu='')
               | Archivo 
               span.caret
             ul.dropdown-menu
               li.dropdown-submenu
                 a.dropdown-toggle(style!=rols, href='#', data-toggle='dropdown', role='button', aria-haspopup='true', aria-expanded='false')
                   | Carga y actualizacion de datos  
                 ul.dropdown-menu
                   li
                     a(href='#' onclick='openmodaluploadsatisfaccion()') 
                       | Nivel de Satisfacción.
                   li.divider
                   li.dropdown-submenu
                     a.dropdown-toggle(href='#', data-toggle='dropdown', role='button', aria-haspopup='true', aria-expanded='false')
                       | Datos Deserción 
                     ul.dropdown-menu
                       li
                         a(href='#' onclick='openmodaluploadcohorte()') 
                           | Deserción Cohorte.
                       li.divider
                       li
                         a(href='#' onclick='openmodaluploadperiodo()') 
                           | Deserción Periodo.
                   li.divider
                   li
                     a(href='#' onclick='openmodaluploadFormacion()') 
                       | Nivel de Formacion Docentes.                         
               li
                 a(href='#' onclick='openmodalreport()' style!=rep)
                   | Generar Reporte
           li.dropdown
             a.dropdown-toggle(href='#', data-toggle='dropdown', role='button', aria-haspopup='true', aria-expanded='false', data-submenu='')
               | Indicadores Academicos 
               span.caret
             ul.dropdown-menu
               li
                 a(href='satisfacion')
                   | Satisfacción
               li.divider
               li.dropdown-submenu
                 a.dropdown-toggle(href='#', data-toggle='dropdown', role='button', aria-haspopup='true', aria-expanded='false')
                   | Nivel de Formacion Docentes 
                 ul.dropdown-menu
                   li
                    a(href='formacion')
                      | KPI Formacion Docentes
                   li.divider
                   li
                     a(href='formacion_departamento') 
                       | Formacion Docentes por Departamento
               li.divider
               li
                 a(href='relacion_docentes')
                   | Relacion Docentes
               li.divider
               li
                 a(href='acreditacion')
                   | Acreditación en Alta Calidad
               li.divider
               li
                 a(href='estudiantesDocente')
                   | Estudiantes por Docente Tiempo Completo
               li.divider
               li.dropdown-submenu
                 a.dropdown-toggle(href='#', data-toggle='dropdown', role='button', aria-haspopup='true', aria-expanded='false')
                   | Deserción 
                 ul.dropdown-menu
                   li
                     a(href='cohorte') 
                       | Deserción por Cohorte
                   li.divider
                   li
                     a(href='periodo') 
                       | Deserción por Periodo
           li
             a(href='#' ) Ayuda 
              span.glyphicon.glyphicon-question-sign(aria-hidden='true')
         p.navbar-text.navbar-right 
           a.logout(href!=refe)!=textmsg  

  //bloque que contiene el contenido de cada pagina especifica
  block resto
block scripts
    
  //script del login
  script( src='/javascripts/usuarios_inicio.js')
    
  //scripts que se usan despues de login
  
  //script para crear el submenu en el navbar
  script( src='/javascripts/bootstrap-submenu.min.js', defer='')
    
  //script de las graficas
  //script principal de la libreria de graficas
  script(src="/javascripts/amcharts/amcharts.js") 
  
  //script para activar el export de las graficas 
  script( src="/javascripts/amcharts/plugins/export/export.min.js")
    
  //scripts de los diferentes tipos de graficas
  script(src="/javascripts/amcharts/serial.js")
  script(src="/javascripts/amcharts/pie.js")
  script(src="/javascripts/amcharts/gauge.js")
    
  //script del tema visual de las graficas
  script(src="/javascripts/amcharts/themes/light.js")
    
  //script que tienes todas las funciones de graficar
  script(type='text/javascript', src='/javascripts/Graphs.js')
    
  //script para pasas grafica a img para infomes
  script( type='text/javascript', src='/javascripts/rgbcolor.js')
  script( type='text/javascript', src='/javascripts/StackBlur.js')
  script( type='text/javascript', src='/javascripts/canvg.min.js')
    
  //script para validar y cargar archivos al server
  script( type='text/javascript', src='/javascripts/files.js')
    
  //script de formacion Docentes
  script( src='/javascripts/update_formacion_docentes.js')
  
  //script de conexion para sacar reportes del server
  script( type='text/javascript', src='/javascripts/jsreport.min.js')
  
  //script general para controlar action a nivel global
  script( type='text/javascript', src='/javascripts/menu.js')
  
  //bloque para colocar los script propios de cada Indicador
  block scriptpage
