extends menu
block title
  title!=title
block scriptpage
  script(src='/javascripts/desercion_periodo.js')
block resto
  #myModal.modal.fade
    .modal-dialog
      .modal-content
        .modal-header
          button.close(type='button', data-dismiss='modal', aria-label='Close')
            span(aria-hidden='true') ×
          h4#modal-title.modal-title Error De Filtros
        #modal-body.modal-body
          p#messageError
        .modal-footer
          button.btn.btn-primary(type='button', onclick='hidenmodal()') Aceptar
  #modalfilter.modal.fade.bd-example-modal-lg
    .modal-content
      .modal-header
        button.close(type='button', data-dismiss='modal', aria-label='Close')
          span(aria-hidden='true') ×
        h4#modal-title.modal-title Filtros
      .modal-body
        form#frmfilter(method='POST' action='consultaperiodinit')
          br
          .col-md-5
            .col-md-3
              label(for='lstprog') Programa:  
            .col-md-9
              select#lstprog.form-control(name='lstprog' onchange="loadlstsperiod()")
          .col-md-6
            .col-sm-6
              .col-md-3  
                label(for='lstperiod1') Periodos De:
              .col-md-9
                select#lstperiod1.form-control
            .col-sm-6
              .col-md-3
                label(for='lstperiod2') a
              .col-md-9
                select#lstperiod2.form-control
          .col-md-1  
            input(type='submit' value='Filtrar' class='btn btn-info' )
      .modal-footer    
  .col-md-12(style='text-align:left')
    button#btnfilter.btn.btn-warning(onclick='opendivfilter()') Filtros
  .col-md-12(style='text-align:center')
    h4 Nivel de Desercion por Periodo de :
    h4#lblprog
  .col-md-12
    #divtable.col-md-6
      table#tabsat.table.table-hover.table-bordered.table-responsed(border='1')
        thead 
          tr
            th.th Periodo
            th.th No Graduados
            th.th N° Desertores
            th.th Deserción
            th.th Retención
            th.th.est Estado
        tbody#tableres
    .col-md-6
      #divgraph1.col-md-12
      .col-md-12
        select#cgdiv1
          option(selected='', value='1') Seleccione un tipo de gráfica
          optgroup(label='Columnas')
            option(value='1') 2D
            option(value='2') 3D
          optgroup(label='Barras')
            option(value='3') 2D
            option(value='4') 3D
        //input#cgc1(type='radio', name='cgdiv1', value='1', checked) 
        //| columnas
        //input#cgb2(type='radio', name='cgdiv1', value='2')
        //| Barras
    #divgraph2.col-md-6
    #divgraph3.col-md-6
  //campo oculto para manterne le json del contenido
  input(id='txtjson' type="hidden")
  //modal para los infomes 
  #modalinfo.modal.fade.bd-example-modal-lg
    #modalinfobody.modal-content
      #modal-bodyinfo.modal-body.table-responsive
        button.close(type='button', data-dismiss='modal', aria-label='Close')
          span(aria-hidden='true') ×
        input.btn.btn-info(type ='button' value='PDF' onclick='getPDF()')
        input.btn.btn-warning(type ='button' value='Editar' onclick='editRepor()')
        table#tabind.table.table-condensed.table-striped.table-hover.table-bordered.table-responsed(border='1')
          tr
            td(colspan='2')
              h5(style='text-align:center') DATOS DEL INDICADOR
          tr
            td(style='font-size: 14px;width: 15%;text-align: left;') 1. PROCESO:
            td
              input#atrinfo1.form-control.atrinfo(type='text' value='Bienestar Concertado' readonly) 
          tr
            td(style='font-size: 14px;width: 15%;text-align: left;') 2. LÍDER:
            td
              input#atrinfo2.form-control.atrinfo(type='text' value='Dirección de Planeación y Desarrollo, Dirección de OCARA,' readonly)
          tr
            td(style='font-size: 14px;width: 15%;text-align: left;') 3. OBJETIVO DEL PROCESO:
            td
              textarea#atrinfo3.form-control.atrinfo(cols='40', rows='2' readonly)
                | Medir la capacidad de retención del Proceso “Formación Académica”, 
                | para de acuerdo a los resultados tomar las acciones que se requieran.
          tr
            td(style='font-size: 14px;width: 15%;text-align: left;') 4. NOMBRE DEL INDICADOR:
            td
              input#atrinfo4.form-control.atrinfo(type='text' value='Deserción de la Universidad' readonly) 
          tr
            td(style='font-size: 14px;width: 15%;text-align: left;') 5. ATRIBUTO A MEDIR:
            td
              input#atrinfo5.form-control.atrinfo(type='text' value='Nivel de Deserción de la Universidad' readonly)
          tr
            td(style='font-size: 14px;width: 15%;text-align: left;') 6. OBJETIVO DE CALIDAD AL CUAL CONTRIBUYE:
            td
              textarea#atrinfo6.form-control.atrinfo(cols='40', rows='2' readonly)
                | Propiciar espacios de Bienestar a la comunidad Universitaria 
                | tendientes a potenciar la capacidad y dignidad del ser 
                | humano en todas sus dimensiones, respetando y reconociendo la 
                | presencia e interacción de la multiculturalidad y 
                | de distintas formas de expresión política.
                | Llevar políticas, programas y proyectos de bienestar 
                | universitario hacia las extensiones, comprometiendo a los
                |  entes territoriales y otras instancias del Estado.
          tr
            td(style='font-size: 14px;width: 15%;text-align: left;') 7. TIPO DE INDICADOR:
            td
              input#atrinfo7.form-control.atrinfo(type='text' value='ESTRATÉGICO' readonly) 
          tr
            td(style='font-size: 14px;width: 15%;text-align: left;') 8. FRECUENCIA:
            td
              input#atrinfo8.form-control.atrinfo(type='text' value='Anual' readonly) 
          tr
            td(style='font-size: 14px;width: 15%;text-align: left;') 9. PERIODO DE CALCULO:
            td
              input#atrinfo9.form-control.atrinfo(type='text' value='Último mes antes de finalizar el año' readonly)
          tr
            td(style='font-size: 14px;width: 15%;text-align: left;') 10. TENDENCIA ESPERADA:
            td
              input#atrinfo10.form-control.atrinfo(type='text' value='Disminución' readonly) 
          tr
            td(style='font-size: 14px;width: 15%;text-align: left;') 11. META
            td
              input#atrinfo11.form-control.atrinfo(type='text' value='24%' readonly)
          tr
            td(style='font-size: 14px;width: 15%;text-align: left;') 12. OBJETIVO DEL INDICADOR:
            td
              textarea#atrinfo12.form-control.atrinfo(cols='40', rows='2' readonly)
                | Medir la capacidad de retención del Proceso “Formación Académica”, 
                | para de acuerdo a los resultados tomar las acciones que se requieran.
          tr
            td(style='font-size: 14px;width: 15%;text-align: left;') 13. RANGO Y FORMA DE INTERPRETACIÓN:
            td
              input#atrinfo13.form-control.atrinfo(type='text', value='10%', width='5')
          tr
            td(style='font-size: 14px;width: 15%;text-align: left;') 14. FÓRMULA:
            td
              textarea#atrinfo14.form-control.atrinfo(cols='40', rows='2' readonly)
                | Promedio de la Sumatoria de la Deserción identificada 
                | en todos los programas de la Universidad. 
          tr
            td(style='font-size: 14px;width: 15%;text-align: left;') 15. MANERA QUE PODÍA SER GRAFICADO:
            td
              input#atrinfo15.form-control.atrinfo(type='text' value='Diagrama de Bloque, señalando el porcentaje obtenido de deserción, frente a la meta.' readonly) 
          tr
            td(style='font-size: 14px;width: 15%;text-align: left;') 16. PUNTO DE REGISTRO:
            td
              input#atrinfo16.form-control.atrinfo(type='text' value='la Única Fuente para los Reportes de Deserción es el  Aplicativo SPADIES, el cual es respaldado por el MEN.' readonly)  
          tr
            td(style='font-size: 14px;width: 15%;text-align: left;') 17. RESPONSABLE DEL CALCULO
            td
              input#atrinfo17.form-control.atrinfo(type='text' value='Dirección de Planeación y Desarrollo, Dirección de OCARA, Asesor de Información y Estadística Oficina de Planeación y Desarrollo.' readonly)  
          tr
            td(style='font-size: 14px;width: 15%;text-align: left;') 18. INSTRUCTIVO:
            td
              input#atrinfo18.form-control.atrinfo(type='text', value='Al finalizar cada año se aplica la fórmula y se confronta los resultados del año anterior con los del año actual.' readonly)
        br
        table#tabindres.table.table-condensed.table-striped.table-hover.table-bordered.table-responsed(border='1')
          tr
            td(colspan='2')
              h5(style='text-align:center') RESULTADOS Y EVOLUCIÓN DEL INDICADOR
          tr
            td(style='font-size: 14px;width: 15%;text-align: left;') 19. FECHA DE CALCULO:
            td 
              label#fecha
          tr
            td(style='font-size: 14px;width: 15%;text-align: left;') 20. RESULTADO DEL INDICADOR:
            td 
              #divtab(style='width: 90%; height: 40%;')
          tr
            td(style='font-size: 14px;width: 15%;text-align: left;') 21. CALIFICACIÓN:
            td
              textarea#txtcal.form-control(cols='100', rows='3')
          tr
            td(style='font-size: 14px;width: 15%;text-align: left;') 22. LECTURA DE LA EVOLUCIÓN DEL INDICADOR:
            td
              textarea#txtlec.form-control(cols='100', rows='6')
          tr
            td(style='font-size: 14px;width: 15%;text-align: left;') 23. EVOLUCIÓN GRÁFICA:
            td 
              #divg1
              #divg2
