extends menu
block title
  title!=title
block scriptpage
  script(src='/javascripts/restaurar.js')
block resto
  .row
    .col-md-4.col-md-offset-3
      h2 Recuperar Contraseña
      form.form-horizontal(id="frmrec", method="post", action="/recover")
        .form-group
          br
          //aqui se resive la respuesta si existe el error de no autorización de ingreso 
          p#resrec
          label.col-sm-3.control-label(for='txtuser') Contraseña: 
          .col-sm-9
            input#txtpass1.form-control(type='password', placeholder='Contraseña' required)
          br
          label.col-sm-3.control-label(for='txtuser') Verificar Contraseña: 
          .col-sm-9
            input#txtpass2.form-control(type='password', placeholder='Verificar contraseña' required)
          br
          button#btnrec.btn.btn-info(type='submit') Guardar 
