//este se extiende de menu para mantener el menu simepre visible al igual que la cabezera
extends menu
block title
  title!=title
block scriptpage
  script(src='/javascripts/nivel_satisfaccion.js')
block resto
  .col-md-12(style='text-align:left')
    input#btnfil.btn.btn-warning.btn-small(type='button' value='Filtros' onCLick='opendivfilter()')
    br
  #divfilter.modal.fade.bd-example-modal-lg
    .modal-content
      .modal-header
        button.close(type='button', data-dismiss='modal', aria-label='Close')
          span(aria-hidden='true') ×
        h4#modal-title.modal-title Filtros
      .modal-body
        form#frmfilter(method='POST' action='consulta')
          br
          .col-md-5
            .col-md-3
              label(for='lstprog') Programa:  
            .col-md-9
              select#lstprog.form-control(name='lstprog' )
          .col-md-6
            .col-sm-6
              .col-md-3  
                label(for='lstprog') Años De:
              .col-md-9
                select#lstanho1.form-control
            .col-sm-6
              .col-md-3
                label(for='lstanho2') a
              .col-md-9
                select#lstanho2.form-control
          .col-md-1  
            input(type='submit' value='Filtrar' class='btn btn-info' )
      .modal-footer
  h4 Nivel de Satisfacción de:
  h4#programa
  .col-md-12
    #divtable.col-md-6
      table#tabsat.table.table-hover.table-bordered.table-responsed(border='1')
        thead 
          tr
            th.th Nivel
            th.th Año
            th.th Estado
        tbody#tableres
    .col-md-6
      #divgraph1.col-md-12
      //- .col-md-2
      //-   input#c3d(type='checkbox', name='c3d', value='1') 
      //-   | 3D
      .col-md-12
        select#cgdiv1
          option(selected='', value='1') Seleccione un tipo de gráfica
          optgroup(label='Columnas')
            option(value='1') 2D
            option(value='2') 3D
          optgroup(label='Barras')
            option(value='3') 2D
            option(value='4') 3D
        //input#cgc1(type='radio', name='cgdiv1', value='1', checked) 
        //| columnas
        //input#cgb2(type='radio', name='cgdiv1', value='2')
        //| Barras
  .col-md-12
    .col-md-6
      #divgraph2.col-md-12
      .col-md-12
        select#cgdiv2
          option(selected='', value='1') Seleccione un tipo de gráfica
            option(value='1') Línea
            option(value='2') Area
        //input#cgl1(type='radio', name='cgdiv2', value='1', checked) 
        //| Linea
        //input#cga2(type='radio', name='cgdiv2', value='2')
        //| Area
    #divgraph3.col-md-6
  #myModal.modal.fade
    .modal-dialog
      .modal-content
        .modal-header
          button.close(type='button', data-dismiss='modal', aria-label='Close')
            span(aria-hidden='true') ×
          h4#modal-title.modal-title Error De Filtros
        #modal-body.modal-body
          p No seleccione el mismo año dos veces 
        .modal-footer
          button.btn.btn-primary(type='button', onclick='hidenmodal()') Aceptar
  //canvas para sacar imagen svg para pdf toca tner segun la cantidad de imagens a sacar
  canvas#canvas(style='display:none')
  //campo oculto para manterne le json del contenido
  input(id='txtjson' type="hidden")
  //modal para los infomes 
  #modalinfo.modal.fade.bd-example-modal-lg
    #modalinfobody.modal-content
      #modal-bodyinfo.modal-body.table-responsive
        button.close(type='button', data-dismiss='modal', aria-label='Close')
          span(aria-hidden='true') ×
        input.btn.btn-info(type ='button' value='Imprimir' onclick='pdf()')
        table#tabinfo.table.table-condensed.table-striped.table-hover.table-bordered.table-responsed(border='1')
          tr
            td
              img.drap(src='/images/escudo.png')
            td
              center
                h3 SISTEMA DE GESTIÓN DE CALIDAD
                h3
                  b Manual de Indicador- 
            td
              table.table.table-condensed.table-striped.table-hover.table-bordered.table-responsed(border='1')
                tr
                  td Código: SGC-FR-04
                tr
                  td Página: 1 de 2
                tr
                  td Versión: 3
                tr
                  td Vigente a partir de: 21/06/2010
        br
        table#tabind.table.table-condensed.table-striped.table-hover.table-bordered.table-responsed(border='1')
          tr
            td(colspan='2')
              h5(style='text-align:center') DATOS DEL INDICADOR
          tr
            td 1. PROCESO:
            td 
              | Capacidad Directiva
              | Docencia
          tr
            td 2. LÍDER:
            td Dirección de Planeación y Desarrollo
          tr
            td 3. OBJETIVO DEL PROCESO:
            td
              p
                | Establecer el porcentaje de estudiantes que no 
                | renuevan matricula en la institución semestralmente
          tr
            td 4. NOMBRE DEL INDICADOR:
            td 
              | Nivel de satisfacción de la Comunidad Estudiantil
          tr
            td 5. ATRIBUTO A MEDIR:
            td
              | Nivel de Deserción de la Universidad por Cohorte
          tr
            td 6. OBJETIVO DE CALIDAD AL CUAL CONTRIBUYE:
            td
              | Formar profesionales en eticidad con calidad 
              | humana y científica capaces de plantear soluciones 
              | a las necesidades de la región con base en el diálogo 
              | de saberes, la cultura investigativa y la educación 
              | contextualizada, además del sentido crítico, reflexivo y 
              | democrático.
          tr
            td 7. TIPO DE INDICADOR:
            td PROCESO
          tr
            td 8. FRECUENCIA:
            td Anual
          tr
            td 9. PERIODO DE CALCULO:
            td Último mes antes de finalizar el año
          tr
            td 10. TENDENCIA ESPERADA:
            td Incremento
          tr
            td 11. META
            td
              | Disminuir la deserción al 24% 
          tr
            td 12. OBJETIVO DEL INDICADOR:
            td
              | Establecer el porcentaje de programas académicos de 
              | pregrado acreditados en la Universidad de Nariño
          tr
            td 13. RANGO Y FORMA DE INTERPRETACIÓN:
            td
              |       < 
              input.form-control(type='text', value='10%', width='5')
              |  
              br
              input.form-control(type='text', value='10 - 15%', width='5')
              |   
              br
              |       > 
              input.form-control(type='text', value='15%', width='5')
              |  
          tr
            td 14. FÓRMULA:
            td
              | (No.  De Estudiantes que califican el servicio como 
              | satisfactorio/Total de Estudiantes Encuestados)*100
          tr
            td 15. MANERA QUE PODÍA SER GRAFICADO:
            td
              | Diagrama de Bloque, señalando el
              | porcentaje obtenido de deserción, frente a la meta.
          tr
            td 16. PUNTO DE REGISTRO:
            td  Estado de los Procesos de Acreditación en Alta Calidad según el Aplicativo SACES.
          tr
            td 17. RESPONSABLE DEL CALCULO
            td
              | Vicerrectoría Académica 
              | Asesor de Desarrollo Académico de la Vicerrectoría Académica
          tr
            td 18. INSTRUCTIVO:
            td
              | Al finalizar cada año se aplica la fórmula y se confronta los resultados
              | del año anterior con los del 
              | año actual.
        br
        table#tabindres.table.table-condensed.table-striped.table-hover.table-bordered.table-responsed(border='1')
          tr
            td(colspan='2')
              h5(style='text-align:center') RESULTADOS Y EVOLUCIÓN DEL INDICADOR
          tr
            td 19. FECHA DE CALCULO:
            td 22 de  noviembre  de 2015
          tr
            td 20. RESULTADO DEL INDICADOR:
            td 
              #divtab(style='width: 100%; height: 40%;')
          tr
            td 21. CALIFICACIÓN:
            td
              textarea#txtcal.form-control(cols='100', rows='3')
          tr
            td 22. LECTURA DE LA EVOLUCIÓN DEL INDICADOR:
            td
              textarea#txtlec.form-control(cols='100', rows='6')
          tr
            td 23. EVOLUCIÓN GRÁFICA:
            td 
              #divg1
              #divg2
