extends menu
block title
  title!=title
block resto
    .col-md-2
    .col-md-8
        h1 Guias de uso de Kamachix
        hr
    .col-md-2
    div        
        .col-md-6
            h3 Tutorial
            iframe#video(width='90%', height='400', src='https://www.youtube.com/embed/fLZ3L9MIXAQ', frameborder='1', allowfullscreen='false')
        .col-md-6
            h3 Manual de usuario
            <object data="Formato_trabajos_de_grado.pdf" type="application/pdf"  width="100%" height="400">
    br
    .col-md-12      
        h4 Divisi贸n de Autoevaluaci贸n, Certificaci贸n y Acreditaci贸n 
        p acreditacioninstitucional@udenar.edu.co    
