extends menu
block title
  title!=title
block resto
    div
        .col-lg-6
            img.img-circle(src='img/ca.jpg', alt='Generic placeholder image', style='width: 140px; height: 140px;')
            h2 Carlos Hurtado
            p Estudiante de ingenieria de sistemas, 10 semestre
            // /.col-lg-4
        .col-lg-6
            img.img-circle(src='img/da.jpg', alt='Generic placeholder image', style='width: 140px; height: 140px;')
            h2 David Estrada
            p Estudiante de ingenieria de sistemas, 10 semestre
            // /.col-lg-4