extends menu
block title
  title!=title
block scriptpage    
  script(src='/javascripts/update_formacion_docentes.js')
block resto
  .col-md-12     
    h3
      |Actualizacion de Datos Docentes con Titulo de Doctor 
    br
    form(id="frm1")
      .col-md-2                
      .col-md-8 
        label
          | Cantidad de profesores tiempo completo
          br
          input#tc.form-control(type='number', name='tc',max='99999')
        br
        br
        label
          | Cantidad de profesores hora catedra
          br 
          input#hc.form-control(type='number', name='hc',max='99999') 
        br
        br
        label
          | Cantidad de profesores tiempo ocasional 
          br
          input#to.form-control(type='number', name='to',max='99999') 
        br
        br
        label
          | Año       
          select#lst_Anio.form-control
            p#filter!=dat 
        p#dato  
        br        
        input(type='submit' value='Actualizar' class='btn btn-info' name="btncal1" id="btncal1")    
    .col-md-2
      
