extends menu
block title
  title!=title
block scriptpage
  script(type='text/javascript', src='/javascripts/fileupload.js')
block resto
  form(class='form-inline' ref='uploadform' id='uploadform' action='/upload', method='POST', enctype='multipart/form-data')
    .form-group
      input.file(type='file', name='archivo', id='files')
    input(type='submit', value='Subir' class='btn btn-primary')
  br
  div#mesage(style='color:red;')
    span
    p
