-- SQL Manager for PostgreSQL 5.7.0.46919
-- ---------------------------------------
-- Host      : localhost
-- Database  : datos_indicadores
-- Version   : PostgreSQL 10.1, compiled by Visual C++ build 1800, 64-bit



CREATE SCHEMA "Datawarehouse" AUTHORIZATION postgres;
--
-- Definition for function fun_actua_formacion (OID = 16395) : 
--
SET search_path = "Datawarehouse", pg_catalog;
SET check_function_bodies = false;
CREATE FUNCTION "Datawarehouse".fun_actua_formacion (
)
RETURNS trigger
AS 
$body$
DECLARE
  cantidad_f INTEGER;
BEGIN
  SELECT Count(*) INTO cantidad_f FROM "Datawarehouse"."KPI_Formacion" fk WHERE fk.formacion = new.formacion 
  AND fk.anio=new.anio;
	IF cantidad_f > 0 THEN
    	DELETE  FROM "Datawarehouse"."KPI_Formacion" fk WHERE fk.formacion = new.formacion  AND fk.anio=new.anio;
   END IF;  
   return new;
 END;
$body$
LANGUAGE plpgsql;
--
-- Definition for function fun_actua_relacion (OID = 16396) : 
--
CREATE FUNCTION "Datawarehouse".fun_actua_relacion (
)
RETURNS trigger
AS 
$body$
DECLARE
  cantidad_r INTEGER;
BEGIN
  SELECT Count(*) INTO cantidad_r FROM "Datawarehouse"."KPI_Relacion_Docentes" fk WHERE fk.anio = new.anio;
	IF cantidad_r < 1 THEN
    	insert into "Datawarehouse"."KPI_Relacion_Docentes" values (new.anio,new.t_completo,new.hora_catedra,new.t_completo);
 	ELSE 
    	UPDATE "Datawarehouse"."KPI_Relacion_Docentes" SET cant_docentes_tc = ( select sum(t_completo)  from "Datawarehouse"."KPI_Formacion" where anio=new.anio),
    cant_docentes_hc = ( select sum(hora_catedra)  from "Datawarehouse"."KPI_Formacion" where anio=new.anio),relacion_docentes =  (select (sum(hora_catedra)::FLOAT/sum(t_completo)::FLOAT)::numeric(5,2) from "Datawarehouse"."KPI_Formacion" where anio=new.anio) WHERE anio=new.anio;

   END IF;  
   return new;
 END;
$body$
LANGUAGE plpgsql;
--
-- Definition for function fun_delete_cohort (OID = 16397) : 
--
CREATE FUNCTION "Datawarehouse".fun_delete_cohort (
)
RETURNS trigger
AS 
$body$
DECLARE
 cantidad_c INTEGER;
BEGIN
  SELECT COUNT(*) INTO cantidad_c FROM "Datawarehouse"."KPI_Desercion_Cohorte" ds WHERE ds.programa = NEW.programa AND ds.periodo = NEW.periodo;
  IF cantidad_c > 0 THEN
  	DELETE FROM "Datawarehouse"."KPI_Desercion_Cohorte" ds WHERE ds.programa = NEW.programa AND ds.periodo = NEW.periodo;
   END IF;
    return new;
END;
$body$
LANGUAGE plpgsql;
--
-- Definition for function fun_delete_period (OID = 16398) : 
--
CREATE FUNCTION "Datawarehouse".fun_delete_period (
)
RETURNS trigger
AS 
$body$
DECLARE
	cantidad_p INTEGER;
BEGIN
  SELECT COUNT(*) INTO cantidad_p FROM "Datawarehouse"."KPI_Desercion_Periodo" dp WHERE dp.programa = NEW.programa AND dp.periodo = NEW.periodo;
  IF cantidad_p > 0 THEN
  	DELETE FROM "Datawarehouse"."KPI_Desercion_Periodo" dp WHERE dp.programa = NEW.programa AND dp.periodo = NEW.periodo;
  END IF;
  RETURN NEW;
END;
$body$
LANGUAGE plpgsql;
--
-- Definition for function Actua_Estudiantes_Dep (OID = 16399) : 
--
SET search_path = public, pg_catalog;
CREATE FUNCTION public."Actua_Estudiantes_Dep" (
)
RETURNS trigger
AS 
$body$
DECLARE
  cantidad_e INTEGER;
BEGIN
  SELECT Count(*) INTO cantidad_e FROM estudiantes_departamento ek WHERE ek.departamento = new.departamento and ek.anho=NEW.anho and ek.periodo=new.periodo;
	IF cantidad_e > 0 THEN
    	DELETE  FROM estudiantes_departamento ek WHERE ek.departamento = new.departamento and ek.anho=NEW.anho and ek.periodo=new.periodo;
   	END IF;  
   	return new;
END;
$body$
LANGUAGE plpgsql;
--
-- Definition for function Actua_Formacion_Dep (OID = 16400) : 
--
CREATE FUNCTION public."Actua_Formacion_Dep" (
)
RETURNS trigger
AS 
$body$
DECLARE
  cantidad_f INTEGER;
BEGIN
  SELECT Count(*) INTO cantidad_f FROM formacion_departamento fk WHERE fk.departamento = new.departamento and fk.anio=NEW.anio and fk.periodo=new.periodo and fk.formacion=new.formacion;
	IF cantidad_f > 0 THEN
    	DELETE  FROM formacion_departamento fk WHERE fk.departamento = new.departamento and fk.anio=NEW.anio and fk.periodo=new.periodo and fk.formacion=new.formacion;
   	END IF;  
   	return new;
 END;
$body$
LANGUAGE plpgsql;
--
-- Definition for function Fun_Actua_KPI_Est_Doc (OID = 16401) : 
--
CREATE FUNCTION public."Fun_Actua_KPI_Est_Doc" (
)
RETURNS trigger
AS 
$body$
DECLARE
  cantidad_e INTEGER;
BEGIN
	SELECT Count(*) INTO cantidad_e FROM "Datawarehouse"."KPI_Estudiantes_por_Docentes_TC" ek WHERE ek."Anho"=NEW.anho AND ek.departamento=NEW.departamento;
		IF NEW.departamento<>'99' THEN
			IF cantidad_e < 1 THEN
				IF NEW.periodo='1' THEN
					INSERT INTO "Datawarehouse"."KPI_Estudiantes_por_Docentes_TC" (departamento,"Anho",estudiantes,docentestc,docentesoc,razona,razonanual) 
						SELECT 
							t2.departamento, 
							t1.anho, 
							t1.ea::numeric(5,0),
							t2.datc::numeric(3,0),
                            t2.daoc::numeric(3,0),
							t1.ea/(t2.datc+t2.daoc)::numeric(3,0),
							t1.ea/(t2.datc+t2.daoc)::numeric(3,0)
						FROM ( 
							SELECT anho,matriculados AS ea
							FROM estudiantes_departamento 
							WHERE 
								periodo = NEW.periodo 
							AND 
								anho = NEW.anho 
							AND 
								departamento = NEW.departamento) t1
						JOIN ( 
							SELECT anio,departamento,sum(t_completo) AS datc,sum(t_ocasional) AS daoc
							FROM formacion_departamento 
							WHERE
								periodo = NEW.periodo 
							AND 
								anio=NEW.anho 
							AND
								departamento = NEW.departamento 
							GROUP BY anio,departamento) t2 
						ON t2.departamento=NEW.departamento
						ORDER BY t1.anho;
				ELSE
					INSERT INTO "Datawarehouse"."KPI_Estudiantes_por_Docentes_TC" (departamento,"Anho",estudiantes,docentestc,docentesoc,razonb,razonanual) 
						SELECT 
							t2.departamento,
							t1.anho, 
							t1.eb::numeric(5,0),
							t2.dbtc::numeric(3,0),
                            t2.dboc::numeric(3,0),
							t1.eb/(t2.dbtc+t2.dboc)::numeric(3,0),
							t1.eb/(t2.dbtc+t2.dboc)::numeric(3,0)
						FROM ( 
							SELECT anho,matriculados AS eb
							FROM estudiantes_departamento 
							WHERE 
								periodo = NEW.periodo 
							AND 
								anho = NEW.anho
							AND 
								departamento = NEW.departamento) t1
						JOIN ( 
							SELECT anio,departamento,sum(t_completo) AS dbtc,sum(t_ocasional) AS dboc
							FROM formacion_departamento 
							WHERE 
								periodo = NEW.periodo 
							AND 
								anio=NEW.anho 
							AND 
								departamento=NEW.departamento 
							GROUP BY anio,departamento) t2 
						ON t2.departamento=NEW.departamento
						ORDER BY t1.anho;
				END IF;
			ELSE
                IF NEW.periodo='2' THEN
                    UPDATE "Datawarehouse"."KPI_Estudiantes_por_Docentes_TC" 
                        SET 
                            estudiantes=(
                                SELECT 
                                    sum(matriculados)/2::numeric(5,0)
                                FROM estudiantes_departamento 
                                WHERE 
                                    anho=NEW.anho
                                AND 
                                    departamento=NEW.departamento),
                            docentestc=(
                                SELECT 
                                    (sum(t_completo))/2::numeric(3,0)
                                FROM formacion_departamento 
                                WHERE 
                                    anio=NEW.anho
                                AND 
                                    departamento=NEW.departamento),
                            docentesoc=(
                                SELECT 
                                    (sum(t_ocasional))/2::numeric(3,0)
                                FROM formacion_departamento 
                                WHERE 
                                    anio=NEW.anho
                                AND 
                                    departamento=NEW.departamento)
                        WHERE 
                            "Anho"=new.anho
                        AND
                            departamento=NEW.departamento;
                    UPDATE "Datawarehouse"."KPI_Estudiantes_por_Docentes_TC" 
                        SET 
                            razonanual=(
                                SELECT 
                                    estudiantes/(docentestc+docentesoc)::numeric(3,0)
                                FROM 
                                    "Datawarehouse"."KPI_Estudiantes_por_Docentes_TC"
                                WHERE
                                    "Anho"=NEW.anho
                                AND 
                                    departamento=NEW.departamento)
                        WHERE 
                            "Anho"=new.anho
                        AND
                            departamento=NEW.departamento;
                    UPDATE "Datawarehouse"."KPI_Estudiantes_por_Docentes_TC" 
                        SET 
                            razonb=(
                                SELECT 
                                    (2*razonanual-razona)::numeric(3,0)
                                FROM 
                                    "Datawarehouse"."KPI_Estudiantes_por_Docentes_TC"
                                WHERE
                                    "Anho"=NEW.anho
                                AND 
                                    departamento=NEW.departamento)
                        WHERE 
                            "Anho"=new.anho
                        AND
                            departamento=NEW.departamento;
                END IF;
			END IF;
		END IF;
	return NEW;
END;
$body$
LANGUAGE plpgsql;
--
-- Definition for function Fun_Actua_KPI_Form (OID = 16402) : 
--
CREATE FUNCTION public."Fun_Actua_KPI_Form" (
)
RETURNS trigger
AS 
$body$
DECLARE
  cantidad_f INTEGER;
BEGIN
	SELECT Count(*) INTO cantidad_f FROM "Datawarehouse"."KPI_Formacion" fk WHERE fk.formacion = new.formacion AND fk.anio=new.anio;
    IF cantidad_f < 1 THEN
    	IF new.periodo = '2' THEN        
          INSERT INTO "Datawarehouse"."KPI_Formacion" (formacion,t_completo,t_ocasional,hora_catedra,anio) select formacion,sum(t_completo),sum(t_ocasional),sum(hora_catedra),anio from formacion_departamento where formacion = new.formacion AND anio=new.anio group by formacion,anio;
          update "Datawarehouse"."KPI_Formacion" set estado_meta=(select ((select sum(t_completo) from "Datawarehouse"."KPI_Formacion" join formacion on formacion=cod_formacion where nom_formacion in ('Doctor','Magíster') and anio=new.anio)::FLOAT/(select sum(t_completo)from "Datawarehouse"."KPI_Formacion" where anio=new.anio)::FLOAT)::numeric(5,2) *100) WHERE anio=new.anio; 	
        END IF;  
    ELSE
    	UPDATE "Datawarehouse"."KPI_Formacion" SET formacion=new.formacion, t_completo = ( select sum(t_completo)  from formacion_departamento where anio=new.anio and formacion=NEW.formacion and periodo='2'),
    	t_ocasional = ( select sum(t_ocasional)  from formacion_departamento where anio=new.anio and formacion=NEW.formacion and periodo='2'),hora_catedra =  (select sum(hora_catedra)  from formacion_departamento where anio=new.anio and formacion=NEW.formacion and periodo='2'), anio=NEW.anio WHERE anio=new.anio and formacion = new.formacion;
        
        update "Datawarehouse"."KPI_Formacion" set estado_meta=(select ((select sum(t_completo) from "Datawarehouse"."KPI_Formacion" join formacion on formacion=cod_formacion where nom_formacion in ('Doctor','Magíster') and anio=new.anio)::FLOAT/(select sum(t_completo)from "Datawarehouse"."KPI_Formacion" where anio=new.anio)::FLOAT)::numeric(5,2) *100) WHERE anio=new.anio; 	
    END IF; 
   return new;
 END;
$body$
LANGUAGE plpgsql;
--
-- Definition for function fun_actua_satisfaccion (OID = 16403) : 
--
CREATE FUNCTION public.fun_actua_satisfaccion (
)
RETURNS trigger
AS 
$body$
DECLARE
  cantidad_f INTEGER;
BEGIN
  SELECT Count(*) INTO cantidad_f FROM "Datawarehouse"."KPI_Nivel_Satisfaccion" ns WHERE ns."Programa" = NEW."Programa" and ns."Anho"=NEW."Anho";
	IF cantidad_f > 0 THEN
    	DELETE  FROM "Datawarehouse"."KPI_Nivel_Satisfaccion" ns WHERE ns."Programa" = NEW."Programa" and ns."Anho"=NEW."Anho";
   	END IF;  
   	return NEW;
END;
$body$
LANGUAGE plpgsql;
--
-- Definition for function Fun_Actua_KPI_Est_Doc_UDENAR (OID = 16404) : 
--
CREATE FUNCTION public."Fun_Actua_KPI_Est_Doc_UDENAR" (
)
RETURNS trigger
AS 
$body$
DECLARE
  cantidad_eu INTEGER;
BEGIN
	SELECT Count(*) INTO cantidad_eu FROM "Datawarehouse"."KPI_Estudiantes_por_Docentes_TC" ek WHERE ek."Anho"=NEW.anho AND ek.departamento='UD';
		IF NEW.departamento<>'99' THEN
			IF cantidad_eu < 1 THEN
				IF NEW.periodo='1' THEN
					INSERT INTO "Datawarehouse"."KPI_Estudiantes_por_Docentes_TC" (departamento,"Anho",estudiantes,docentestc,docentesoc,razonanual,razona) 
					SELECT
						'UD',
						t1.anho, 
						t1.ea::numeric(5,0),
						t2.datc::numeric(3,0),
						t2.daoc::numeric(3,0),
						t1.ea/(t2.datc+t2.daoc)::numeric(3,0),
						t1.ea/(t2.datc+t2.daoc)::numeric(3,0)
					FROM ( 
						SELECT anho,sum(matriculados) AS ea
						FROM estudiantes_departamento 
						WHERE 
							periodo=NEW.periodo
						AND 
							anho=NEW.anho
						GROUP BY anho) t1
					JOIN ( 
						SELECT anio,sum(t_completo) AS datc,sum(t_ocasional) AS daoc
						FROM formacion_departamento 
						WHERE 
							periodo=NEW.periodo
						AND 
							anio=NEW.anho
						GROUP BY anio) t2 
					ON t2.anio=t1.anho
					ORDER BY t1.anho;
				ELSE
					INSERT INTO "Datawarehouse"."KPI_Estudiantes_por_Docentes_TC" (departamento,"Anho",estudiantes,docentestc,docentesoc,razonb,razonanual) 
						SELECT
							'UD',
							t1.anho, 
							t1.eb::numeric(5,0),
							t2.dbtc::numeric(3,0),
							t2.dboc::numeric(3,0),
							t1.eb/(t2.dbtc+t2.dboc)::numeric(3,0),
							t1.eb/(t2.dbtc+t2.dboc)::numeric(3,0)
						FROM ( 
							SELECT anho,matriculados AS eb
							FROM estudiantes_departamento 
							WHERE 
								periodo = NEW.periodo 
							AND 
								anho = NEW.anho
							GROUP BY anho) t1
						JOIN ( 
							SELECT anio,sum(t_completo) AS dbtc,sum(t_ocasional) AS dboc
							FROM formacion_departamento 
							WHERE 
								periodo = NEW.periodo 
							AND 
								anio=NEW.anho 
							GROUP BY anio) t2 
						ON t2.anio=t1.anho
						ORDER BY t1.anho;
				END IF;
			 ELSE
				IF NEW.periodo='2' THEN
					UPDATE "Datawarehouse"."KPI_Estudiantes_por_Docentes_TC" 
					SET 
						estudiantes=(
							SELECT 
								sum(matriculados)/2::numeric(5,0)
							FROM estudiantes_departamento 
							WHERE 
								anho=NEW.anho),
						docentestc=(
							SELECT 
								(sum(t_completo))/2::numeric(3,0)
							FROM formacion_departamento 
							WHERE 
								anio=NEW.anho),
                        docentesoc=(
							SELECT 
								(sum(t_ocasional))/2::numeric(3,0)
							FROM formacion_departamento 
							WHERE 
								anio=NEW.anho)
					WHERE 
						"Anho"=new.anho
					AND departamento='UD';
					UPDATE "Datawarehouse"."KPI_Estudiantes_por_Docentes_TC" 
					SET 
						razonanual=(
							SELECT 
								t1.e/t2.d::numeric(3,0)
							FROM 
								(
								SELECT 
									anho,
									sum(matriculados)/2::numeric(5,0) AS e
								FROM estudiantes_departamento 
								WHERE 
									anho=NEW.anho
								GROUP BY anho) t1
							JOIN 
								(
								SELECT 
									anio,
									(sum(t_completo)+sum(t_ocasional))/2::numeric(5,0) AS d
								FROM formacion_departamento 
								WHERE 
									anio=NEW.anho
								GROUP BY anio) t2
							ON t1.anho=t2.anio
							WHERE
								anio=NEW.anho)
					WHERE 
						"Anho"=NEW.anho
					AND 
						departamento='UD';
					UPDATE "Datawarehouse"."KPI_Estudiantes_por_Docentes_TC" 
					SET 
						razonb=(
							SELECT 
								(2*razonanual-razona)::numeric(3,0)
							FROM 
								"Datawarehouse"."KPI_Estudiantes_por_Docentes_TC"
							WHERE
								"Anho"=NEW.anho
							AND 
								departamento='UD')
					WHERE 
						"Anho"=new.anho
					AND
						departamento='UD';
				END IF;
			END IF;       
		END IF;
	return NEW;
 END;
$body$
LANGUAGE plpgsql;
--
-- Structure for table KPI_Acreditacion (OID = 16405) : 
--
SET search_path = "Datawarehouse", pg_catalog;
CREATE TABLE "Datawarehouse"."KPI_Acreditacion" (
    "Anho" char(4),
    acreditados numeric(2,0),
    programas numeric(2,0),
    razon numeric(2,0),
    "manual_Acredita" char(3) DEFAULT 4
)
WITH (oids = false);
--
-- Structure for table KPI_Desercion_Cohorte (OID = 16409) : 
--
CREATE TABLE "Datawarehouse"."KPI_Desercion_Cohorte" (
    programa varchar(6) NOT NULL,
    periodo varchar(7) NOT NULL,
    porcentaje varchar(8),
    manual char(3) DEFAULT 6
)
WITH (oids = false);
--
-- Structure for table KPI_Desercion_Periodo (OID = 16413) : 
--
CREATE TABLE "Datawarehouse"."KPI_Desercion_Periodo" (
    programa varchar(6) NOT NULL,
    periodo varchar(7) NOT NULL,
    no_graduados varchar(5),
    desertores varchar(5),
    desercion varchar(6),
    retencion varchar(6),
    manual char(3) DEFAULT 7
)
WITH (oids = false);
--
-- Structure for table KPI_Estudiantes_por_Docentes_TC (OID = 16417) : 
--
CREATE TABLE "Datawarehouse"."KPI_Estudiantes_por_Docentes_TC" (
    departamento char(2) NOT NULL,
    "Anho" char(4) NOT NULL,
    estudiantes numeric(5,0) NOT NULL,
    docentestc numeric(3,0) NOT NULL,
    docentesoc numeric(3,0) NOT NULL,
    razonanual numeric(3,0) NOT NULL,
    razona numeric(3,0) NOT NULL,
    razonb numeric(3,0) DEFAULT 0,
    "manual_Estu_Docente" char(3) DEFAULT 5
)
WITH (oids = false);
--
-- Structure for table KPI_Formacion (OID = 16422) : 
--
CREATE TABLE "Datawarehouse"."KPI_Formacion" (
    formacion char(2),
    t_completo integer,
    t_ocasional integer,
    hora_catedra integer,
    anio varchar(5),
    "manual_Formacion" char(3) DEFAULT 2,
    estado_meta numeric(5,2)
)
WITH (oids = false);
--
-- Structure for table KPI_Nivel_Satisfaccion (OID = 16426) : 
--
CREATE TABLE "Datawarehouse"."KPI_Nivel_Satisfaccion" (
    "Programa" varchar(6) NOT NULL,
    "Nivel" varchar(7) NOT NULL,
    "Anho" varchar(7) NOT NULL,
    manual char(3) DEFAULT 1
)
WITH (oids = false);
--
-- Structure for table KPI_Relacion_Docentes (OID = 16430) : 
--
CREATE TABLE "Datawarehouse"."KPI_Relacion_Docentes" (
    anio char(5) NOT NULL,
    cant_docentes_tc integer,
    cant_docentes_hc integer,
    relacion_docentes numeric(5,2),
    "manual_Rela" char(3) DEFAULT 3
)
WITH (oids = false);
--
-- Structure for table acreditacion_alta_calidad (OID = 16434) : 
--
SET search_path = public, pg_catalog;
CREATE TABLE public.acreditacion_alta_calidad (
    resolucion varchar NOT NULL,
    programa varchar(6) NOT NULL,
    inicioacreditacion date NOT NULL,
    periodo integer DEFAULT 4 NOT NULL,
    activo boolean DEFAULT false NOT NULL,
    aviso varchar(2) DEFAULT 99 NOT NULL,
    gravedad integer DEFAULT 0 NOT NULL,
    mail boolean DEFAULT false NOT NULL,
    chkpm1 boolean DEFAULT false,
    mailpm1 boolean DEFAULT false,
    chkaev1 boolean DEFAULT false,
    mailaev1 boolean DEFAULT false,
    chkpm2 boolean DEFAULT false,
    mailpm2 boolean DEFAULT false,
    chkaev2 boolean DEFAULT false,
    mailaev2 boolean DEFAULT false,
    chkmen boolean DEFAULT false,
    mailmen boolean DEFAULT false
)
WITH (oids = false);
--
-- Structure for table estudiantes_departamento (OID = 16457) : 
--
CREATE TABLE public.estudiantes_departamento (
    cod_est_dep serial NOT NULL,
    departamento char(2),
    matriculados integer,
    anho char(4),
    periodo char(1)
)
WITH (oids = false);
--
-- Structure for table formacion (OID = 16461) : 
--
CREATE TABLE public.formacion (
    cod_formacion char(2) NOT NULL,
    nom_formacion varchar(12)
)
WITH (oids = false);
--
-- Structure for table formacion_departamento (OID = 16466) : 
--
CREATE TABLE public.formacion_departamento (
    cod_forma_dep serial NOT NULL,
    departamento char(2) NOT NULL,
    t_completo integer,
    t_ocasional integer,
    hora_catedra integer,
    anio varchar(5),
    periodo char(2),
    formacion char(2) NOT NULL
)
WITH (oids = false);
--
-- Structure for table manuales_indicadores (OID = 16470) : 
--
CREATE TABLE public.manuales_indicadores (
    codigo char(3) NOT NULL,
    proceso text,
    lider text,
    "objProceso" text,
    "nombreIndicador" text,
    "atriMedir" text,
    "objCalidad" text,
    "tipoIndicador" text,
    frecuencia text,
    "periodoCalculo" text,
    tendencia text,
    meta text,
    "objIndicador" text,
    rango text,
    formula text,
    "maneraGrafica" text,
    "puntoRegistro" text,
    resposable text,
    instructivo text,
    "sim_Rango_MA" char(2),
    "num_Rango_MA" numeric(4,2),
    "sim_Rango_A" char(2),
    "num_Rango_A" numeric(4,2),
    "sim_Rango_I" char(2),
    "num_Rango_I" numeric(4,2)
)
WITH (oids = false);
--
-- Structure for table programas (OID = 16476) : 
--
CREATE TABLE public.programas (
    snies varchar(6) NOT NULL,
    nivel char(1) DEFAULT 1 NOT NULL,
    codigo char(3),
    departamento varchar(2),
    nombre varchar(100) NOT NULL,
    abreviatura varchar(45),
    "fechaRegistro" char(4),
    estado boolean DEFAULT true NOT NULL
)
WITH (oids = false);
--
-- Structure for table users (OID = 16481) : 
--
CREATE TABLE public.users (
    codigo char(2) NOT NULL,
    "user" varchar(200) NOT NULL,
    pass varchar(200) NOT NULL,
    name varchar(60) NOT NULL,
    rol char(1) DEFAULT 0 NOT NULL,
    encriptado varchar(200),
    email varchar NOT NULL,
    alternative_email varchar
)
WITH (oids = false);
SET search_path = "Datawarehouse", pg_catalog;
COPY "KPI_Acreditacion" ("Anho", acreditados, programas, razon, "manual_Acredita") FROM stdin;
2013	8	59	14	4  
2015	13	59	22	4  
2010	6	45	13	4  
2011	8	51	16	4  
2012	9	56	16	4  
2014	7	59	12	4  
2016	16	59	27	4  
2017	19	63	30	4  
\.
COPY "KPI_Relacion_Docentes" (anio, cant_docentes_tc, cant_docentes_hc, relacion_docentes, "manual_Rela") FROM stdin;
2010 	271	467	1.72	3  
2011 	267	451	1.69	3  
2012 	267	471	1.76	3  
2013 	270	476	1.76	3  
2014 	270	493	1.83	3  
2015 	274	510	1.86	3  
2016 	268	526	1.96	3  
2017 	265	550	2.08	3  
\.
SET search_path = public, pg_catalog;
COPY formacion (cod_formacion, nom_formacion) FROM stdin;
1 	Doctor
3 	Especialista
4 	Profesional
2 	Magíster
\.
--
-- Definition for index KPI_Desercion_Cohorte_idx (OID = 16488) : 
--
SET search_path = "Datawarehouse", pg_catalog;
ALTER TABLE ONLY "KPI_Desercion_Cohorte"
    ADD CONSTRAINT "KPI_Desercion_Cohorte_idx"
    PRIMARY KEY (programa, periodo);
--
-- Definition for index KPI_Desercion_Periodo_idx (OID = 16490) : 
--
ALTER TABLE ONLY "KPI_Desercion_Periodo"
    ADD CONSTRAINT "KPI_Desercion_Periodo_idx"
    PRIMARY KEY (programa, periodo);
--
-- Definition for index KPI_Nivel_Satisfaccion_pkey (OID = 16492) : 
--
ALTER TABLE ONLY "KPI_Nivel_Satisfaccion"
    ADD CONSTRAINT "KPI_Nivel_Satisfaccion_pkey"
    PRIMARY KEY ("Programa", "Anho");
--
-- Definition for index acreditacion_alta_calidad_pkey (OID = 16494) : 
--
SET search_path = public, pg_catalog;
ALTER TABLE ONLY acreditacion_alta_calidad
    ADD CONSTRAINT acreditacion_alta_calidad_pkey
    PRIMARY KEY (resolucion);
--
-- Definition for index formacion_departamento_pkey (OID = 16496) : 
--
ALTER TABLE ONLY formacion_departamento
    ADD CONSTRAINT formacion_departamento_pkey
    PRIMARY KEY (cod_forma_dep);
--
-- Definition for index formacion_pkey (OID = 16498) : 
--
ALTER TABLE ONLY formacion
    ADD CONSTRAINT formacion_pkey
    PRIMARY KEY (cod_formacion);
--
-- Definition for index manuales_indicadores_pkey (OID = 16500) : 
--
ALTER TABLE ONLY manuales_indicadores
    ADD CONSTRAINT manuales_indicadores_pkey
    PRIMARY KEY (codigo);
--
-- Definition for index programas_pkey (OID = 16502) : 
--
ALTER TABLE ONLY programas
    ADD CONSTRAINT programas_pkey
    PRIMARY KEY (snies);
--
-- Definition for index users_codigo_key (OID = 16504) : 
--
ALTER TABLE ONLY users
    ADD CONSTRAINT users_codigo_key
    UNIQUE (codigo);
--
-- Definition for index users_pkey (OID = 16506) : 
--
ALTER TABLE ONLY users
    ADD CONSTRAINT users_pkey
    PRIMARY KEY ("user", pass);
--
-- Definition for index KPI_Acreditacion_fk (OID = 16508) : 
--
SET search_path = "Datawarehouse", pg_catalog;
ALTER TABLE ONLY "KPI_Acreditacion"
    ADD CONSTRAINT "KPI_Acreditacion_fk"
    FOREIGN KEY ("manual_Acredita") REFERENCES public.manuales_indicadores(codigo);
--
-- Definition for index KPI_Cohort_Dropout_fk (OID = 16513) : 
--
ALTER TABLE ONLY "KPI_Desercion_Cohorte"
    ADD CONSTRAINT "KPI_Cohort_Dropout_fk"
    FOREIGN KEY (programa) REFERENCES public.programas(snies);
--
-- Definition for index KPI_Desercion_Cohorte_fk (OID = 16518) : 
--
ALTER TABLE ONLY "KPI_Desercion_Cohorte"
    ADD CONSTRAINT "KPI_Desercion_Cohorte_fk"
    FOREIGN KEY (manual) REFERENCES public.manuales_indicadores(codigo);
--
-- Definition for index KPI_Desercion_Periodo_fk (OID = 16523) : 
--
ALTER TABLE ONLY "KPI_Desercion_Periodo"
    ADD CONSTRAINT "KPI_Desercion_Periodo_fk"
    FOREIGN KEY (manual) REFERENCES public.manuales_indicadores(codigo);
--
-- Definition for index KPI_Estudiantes_por_Docentes_TC_fk (OID = 16528) : 
--
ALTER TABLE ONLY "KPI_Estudiantes_por_Docentes_TC"
    ADD CONSTRAINT "KPI_Estudiantes_por_Docentes_TC_fk"
    FOREIGN KEY ("manual_Estu_Docente") REFERENCES public.manuales_indicadores(codigo);
--
-- Definition for index KPI_Formacion_fk (OID = 16533) : 
--
ALTER TABLE ONLY "KPI_Formacion"
    ADD CONSTRAINT "KPI_Formacion_fk"
    FOREIGN KEY (formacion) REFERENCES public.formacion(cod_formacion);
--
-- Definition for index KPI_Formacion_fk1 (OID = 16538) : 
--
ALTER TABLE ONLY "KPI_Formacion"
    ADD CONSTRAINT "KPI_Formacion_fk1"
    FOREIGN KEY ("manual_Formacion") REFERENCES public.manuales_indicadores(codigo);
--
-- Definition for index KPI_Nivel_Satisfaccion_fk (OID = 16543) : 
--
ALTER TABLE ONLY "KPI_Nivel_Satisfaccion"
    ADD CONSTRAINT "KPI_Nivel_Satisfaccion_fk"
    FOREIGN KEY (manual) REFERENCES public.manuales_indicadores(codigo);
--
-- Definition for index KPI_Period_Dropout_fk (OID = 16548) : 
--
ALTER TABLE ONLY "KPI_Desercion_Periodo"
    ADD CONSTRAINT "KPI_Period_Dropout_fk"
    FOREIGN KEY (programa) REFERENCES public.programas(snies);
--
-- Definition for index KPI_Relacion_Docentes_fk (OID = 16553) : 
--
ALTER TABLE ONLY "KPI_Relacion_Docentes"
    ADD CONSTRAINT "KPI_Relacion_Docentes_fk"
    FOREIGN KEY ("manual_Rela") REFERENCES public.manuales_indicadores(codigo);
--
-- Definition for index KPI_Satisfaction_level_fk (OID = 16558) : 
--
ALTER TABLE ONLY "KPI_Nivel_Satisfaccion"
    ADD CONSTRAINT "KPI_Satisfaction_level_fk"
    FOREIGN KEY ("Programa") REFERENCES public.programas(snies);
--
-- Definition for index acreditacion_alta_calidad_fk (OID = 16563) : 
--
SET search_path = public, pg_catalog;
ALTER TABLE ONLY acreditacion_alta_calidad
    ADD CONSTRAINT acreditacion_alta_calidad_fk
    FOREIGN KEY (programa) REFERENCES programas(snies);
--
-- Definition for index estudiantes_departamento_fk (OID = 16568) : 
--
ALTER TABLE ONLY estudiantes_departamento
    ADD CONSTRAINT estudiantes_departamento_fk
    FOREIGN KEY (departamento) REFERENCES users(codigo);
--
-- Definition for index formacion_departamento_fk (OID = 16573) : 
--
ALTER TABLE ONLY formacion_departamento
    ADD CONSTRAINT formacion_departamento_fk
    FOREIGN KEY (departamento) REFERENCES users(codigo);
--
-- Definition for index formacion_fk (OID = 16578) : 
--
ALTER TABLE ONLY formacion_departamento
    ADD CONSTRAINT formacion_fk
    FOREIGN KEY (formacion) REFERENCES formacion(cod_formacion);
--
-- Definition for trigger tr_actua_satisfaccion (OID = 16583) : 
--
SET search_path = "Datawarehouse", pg_catalog;
CREATE TRIGGER tr_actua_satisfaccion
    BEFORE INSERT ON "KPI_Nivel_Satisfaccion"
    FOR EACH ROW
    EXECUTE PROCEDURE public.fun_actua_satisfaccion ();
--
-- Definition for trigger tr_cohort_desertion (OID = 16584) : 
--
CREATE TRIGGER tr_cohort_desertion
    BEFORE INSERT ON "KPI_Desercion_Cohorte"
    FOR EACH ROW
    EXECUTE PROCEDURE fun_delete_cohort ();
--
-- Definition for trigger tr_period_desertion (OID = 16585) : 
--
CREATE TRIGGER tr_period_desertion
    BEFORE INSERT ON "KPI_Desercion_Periodo"
    FOR EACH ROW
    EXECUTE PROCEDURE fun_delete_period ();
--
-- Definition for trigger tr_relacion (OID = 16586) : 
--
CREATE TRIGGER tr_relacion
    AFTER INSERT OR UPDATE ON "KPI_Formacion"
    FOR EACH ROW
    EXECUTE PROCEDURE fun_actua_relacion ();
--
-- Definition for trigger tr_est_dep (OID = 16587) : 
--
SET search_path = public, pg_catalog;
CREATE TRIGGER tr_est_dep
    BEFORE INSERT ON estudiantes_departamento
    FOR EACH ROW
    EXECUTE PROCEDURE "Actua_Estudiantes_Dep" ();
--
-- Definition for trigger tr_for_dep (OID = 16588) : 
--
CREATE TRIGGER tr_for_dep
    BEFORE INSERT ON formacion_departamento
    FOR EACH ROW
    EXECUTE PROCEDURE "Actua_Formacion_Dep" ();
--
-- Definition for trigger tr_kpi_est_doc (OID = 16589) : 
--
CREATE TRIGGER tr_kpi_est_doc
    AFTER INSERT OR UPDATE ON estudiantes_departamento
    FOR EACH ROW
    EXECUTE PROCEDURE "Fun_Actua_KPI_Est_Doc" ();
--
-- Definition for trigger tr_kpi_form (OID = 16590) : 
--
CREATE TRIGGER tr_kpi_form
    AFTER INSERT OR UPDATE ON formacion_departamento
    FOR EACH ROW
    EXECUTE PROCEDURE "Fun_Actua_KPI_Form" ();
--
-- Definition for trigger tr_kpi_est_doc_udenar (OID = 16591) : 
--
CREATE TRIGGER tr_kpi_est_doc_udenar
    AFTER INSERT OR UPDATE ON estudiantes_departamento
    FOR EACH ROW
    EXECUTE PROCEDURE "Fun_Actua_KPI_Est_Doc_UDENAR" ();
--
-- Data for sequence public.estudiantes_departamento_cod_est_dep_seq (OID = 16455)
--
SELECT pg_catalog.setval('estudiantes_departamento_cod_est_dep_seq', 464, true);
--
-- Data for sequence public.formacion_departamento_cod_forma_dep_seq (OID = 16464)
--
SELECT pg_catalog.setval('formacion_departamento_cod_forma_dep_seq', 11445, true);
--
-- Comments
--
COMMENT ON SCHEMA public IS 'standard public schema';
COMMENT ON COLUMN public.users.email IS 'correo de cada departamento para recuperar contraseña';
